Repository BANCOZIM-HOLDINGS-PVT-LTD/zb-bancosystem: changes, and which pre-commit hooks are due for each by the changed paths.
All: php-cs-fixer, phpstan, php-unit-tests, php-security-check, eslint, typescript-check, prettier, frontend-tests, migration-check, env-check, composer-validate, composer-normalize, npm-audit, npm-outdated, laravel-config-cache, laravel-route-cache, performance-test

Path conditions:
  php-cs-fixer: any of: \.php$
  phpstan: any of: \.php$
  php-unit-tests: any of: \.php$
  php-security-check: any of: composer\.lock$
  eslint: any of: \.(js|jsx|ts|tsx)$
  typescript-check: any of: \.(ts|tsx)$
  prettier: any of: \.(js|jsx|ts|tsx|json|css|scss|md)$
  frontend-tests: any of: \.(js|jsx|ts|tsx)$
  migration-check: any of: database/migrations/.*\.php$
  env-check: any of: \.env\.example$
  composer-validate: any of: composer\.json$
  composer-normalize: any of: composer\.json$
  npm-audit: any of: package\.json$
  npm-outdated: any of: package\.json$
  laravel-config-cache: any of: config/.*\.php$
  laravel-route-cache: any of: routes/.*\.php$
  performance-test: any of: tests/Performance/.*\.php$

Skip scale validation for no-scale products (bancozim personalGadgets)
  resources/js/components/ApplicationWizard/utils/validation.ts
Due: eslint, typescript-check, prettier, frontend-tests

Generate random reference code for cash flow (no national ID collected yet)
  app/Services/ReferenceCodeService.php
Due: php-cs-fixer, phpstan, php-unit-tests

Clean. Here's what now happens dynamically when a store is selected:
  resources/js/components/ApplicationWizard/steps/DeliverySelection.tsx
Due: eslint, typescript-check, prettier, frontend-tests

Layout — 6 bold-headed groups, each with its own grid of options beneath: - text-xl font-bold black heading + bottom border line - Same card button style as before (emerald hover, chevron right)
  resources/js/components/ApplicationWizard/steps/EmployerSelection.tsx
Due: eslint, typescript-check, prettier, frontend-tests

READ ME FILE
  README.md
Due: prettier

The Parastatal modal now lists all 49 organisations in alphabetical order (A through Z), with "Other (Please Specify)" remaining at the bottom as before.
  resources/js/components/ApplicationWizard/steps/EmployerSelection.tsx
Due: eslint, typescript-check, prettier, frontend-tests

wired up cleanly with no TypeScript errors. added new employers.
  .claude/settings.local.json
  resources/js/components/ApplicationWizard/data/securityCompanies.ts
  resources/js/components/ApplicationWizard/steps/EmployerSelection.tsx
  resources/js/components/DocumentUpload/DocumentUploadStep.tsx
Due: eslint, typescript-check, prettier, frontend-tests

fixed security companies
  resources/js/components/ApplicationWizard/data/securityCompanies.ts
Due: eslint, typescript-check, prettier, frontend-tests

See what each package consists of (all services + boosters)
  app/Http/Controllers/Api/ProductController.php
  resources/js/components/ApplicationWizard/steps/LicenseCoursesStep.tsx
  resources/js/components/ApplicationWizard/steps/ProductSelection.tsx
  resources/js/components/DocumentUpload/DocumentUploadStep.tsx
  resources/js/services/productService.ts
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests

added more mines
  resources/js/components/ApplicationWizard/steps/EmployerSelection.tsx
Due: eslint, typescript-check, prettier, frontend-tests

All ZB account-number regex/format validation has been removed system-wide — the account number is now accepted exactly as the user types it.
  resources/js/components/ApplicationWizard/forms/AccountHoldersLoanForm.tsx
  resources/js/components/ApplicationWizard/forms/PensionerLoanForm.tsx
  resources/js/components/ApplicationWizard/forms/RDCLoanForm.tsx
  resources/js/components/ApplicationWizard/forms/SSBLoanForm.tsx
  resources/js/components/ApplicationWizard/utils/validation.ts
Due: eslint, typescript-check, prettier, frontend-tests

the ZB Bank account field's 13-character cap (maxLength={13}) in AccountHoldersLoanForm.tsx is removed, so it now accepts any length.
  resources/js/components/ApplicationWizard/forms/AccountHoldersLoanForm.tsx
Due: eslint, typescript-check, prettier, frontend-tests

Fixed (3, 4, 5, 7)
  app/Http/Controllers/Api/StateController.php
  app/Services/PDFGeneratorService.php
  config/services.php
  resources/js/components/ApplicationWizard/steps/ApplicationSummary.tsx
  routes/web.php
  vite.config.ts
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests, laravel-config-cache, laravel-route-cache

RESUME FUNCTION
  resources/js/pages/welcome.tsx
Due: eslint, typescript-check, prettier, frontend-tests

resume
  resources/js/pages/welcome.tsx
Due: eslint, typescript-check, prettier, frontend-tests

swapping the mail backend from Dandemutande to Gmail X0AUTH2
  .claude/settings.local.json
  .env.example
  .env.production.example
  app/Exceptions/GmailOAuthException.php
  app/Http/Controllers/DepositPaymentController.php
  app/Jobs/SendAbandonmentReminderJob.php
  app/Jobs/SendPaymentReminderJob.php
  app/Providers/AppServiceProvider.php
  app/Providers/MailServiceProvider.php
  app/Services/GmailMailService.php
  app/Services/Mail/GmailOAuthTokenManager.php
  app/Services/NotificationService.php
  bootstrap/providers.php
  config/mail.php
  implementation_plan.md
  tests/Feature/AbandonmentReminderTest.php
Due: php-cs-fixer, phpstan, php-unit-tests, prettier, env-check, laravel-config-cache

ZimPost Courier integration complete
  .claude/settings.local.json
  .env.example
  app/Filament/Pages/ZimPostDeliveries.php
  app/Filament/Pages/ZimPostDeliveryDetail.php
  app/Filament/Stores/Pages/ZimPostDeliveries.php
  app/Filament/Stores/Pages/ZimPostDeliveryDetail.php
  app/Http/Controllers/AgentPortalController.php
  app/Http/Controllers/DeliveryTrackingController.php
  app/Jobs/SyncZimPostDeliveriesJob.php
  app/Models/DeliveryTracking.php
  app/Services/ZimPost/Exceptions/ZimPostApiException.php
  app/Services/ZimPost/ZimPostClient.php
  app/Services/ZimPost/ZimPostService.php
  config/services.php
  database/migrations/2026_06_10_120000_add_zimpost_columns_to_delivery_trackings_table.php
  resources/js/pages/DeliveryTracking.tsx
  resources/js/pages/agent/ZimPostDeliveries.tsx
  resources/views/filament/pages/zimpost-deliveries.blade.php
  resources/views/filament/pages/zimpost-delivery-detail.blade.php
  routes/console.php
  routes/web.php
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests, migration-check, env-check, laravel-config-cache, laravel-route-cache

Fix pre-existing badge crashes (Booster*Resource)
  .claude/settings.local.json
  app/Filament/Accounting/Resources/PayrollResource.php
  app/Filament/Hr/Resources/DailyRegisterResource.php
  app/Filament/Resources/AgentApplicationResource.php
  app/Filament/Resources/AgentResource.php
  app/Filament/Resources/ApplicationResource.php
  app/Filament/Resources/BoosterBusinessResource.php
  app/Filament/Resources/BoosterCategoryResource.php
  app/Filament/Resources/BoosterItemResource.php
  app/Filament/Resources/CommissionResource.php
  app/Filament/Resources/InventoryManagementResource.php
  app/Filament/Resources/LoanTermsResource.php
  app/Filament/Resources/MEApplicantsResource.php
  app/Filament/Resources/MicrobizBusinessResource.php
  app/Filament/Resources/MicrobizCategoryResource.php
  app/Filament/Resources/MicrobizPackageResource.php
  app/Filament/Resources/PDFManagementResource.php
  app/Filament/Resources/PersonalServiceResource.php
  app/Filament/Resources/PurchaseOrderResource.php
  app/Filament/Resources/SchoolBusinessResource.php
  app/Filament/Resources/SchoolCategoryResource.php
  app/Filament/Resources/SchoolItemResource.php
  app/Filament/Resources/ServicePackageResource.php
  app/Filament/Resources/ServiceTierResource.php
  app/Filament/Resources/SupplierResource.php
Due: php-cs-fixer, phpstan, php-unit-tests, prettier
