Repository BANCOZIM-HOLDINGS-PVT-LTD/zb-bancosystem: changes, and which pre-commit hooks are due for each by the changed paths.
All: php-cs-fixer, phpstan, php-unit-tests, php-security-check, eslint, typescript-check, prettier, frontend-tests, migration-check, env-check, composer-validate, composer-normalize, npm-audit, npm-outdated, laravel-config-cache, laravel-route-cache, performance-test

php-cs-fixer:
  name: PHP CS Fixer
  entry: ./vendor/bin/php-cs-fixer
  language: system
  args:
  - fix
  - --dry-run
  - --diff
  - --config=.php-cs-fixer.php
  pass_filenames: false

phpstan:
  name: PHPStan Static Analysis
  entry: ./vendor/bin/phpstan
  language: system
  args:
  - analyse
  - --memory-limit=1G
  - --no-progress
  pass_filenames: false

php-unit-tests:
  name: PHP Unit Tests
  entry: ./vendor/bin/phpunit
  language: system
  args:
  - --testsuite=Unit
  - --stop-on-failure
  pass_filenames: false
  stages:
  - commit

php-security-check:
  name: PHP Security Check
  entry: ./vendor/bin/security-checker
  language: system
  args:
  - security:check
  - composer.lock
  pass_filenames: false

eslint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Check
  entry: npm run type-check
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: npm run format:check
  language: system
  pass_filenames: false

frontend-tests:
  name: Frontend Tests
  entry: npm run test:unit
  language: system
  pass_filenames: false
  stages:
  - commit

migration-check:
  name: Database Migration Check
  entry: php
  language: system
  args:
  - artisan
  - migrate:status
  - --pending
  pass_filenames: false
  stages:
  - commit

env-check:
  name: Environment File Check
  entry: bash
  language: system
  args:
  - -c
  - if [ -f .env.example ] && [ -f .env ]; then diff -u .env.example .env | grep "^+" | grep -v "^+++" | grep -v "^+APP_KEY" | grep -v "^+DB_" | grep -v "^+MAIL_" | grep -v "^+AWS_" && exit 1 || exit 0; fi
  pass_filenames: false

composer-validate:
  name: Composer Validate
  entry: composer
  language: system
  args:
  - validate
  - --strict
  pass_filenames: false

composer-normalize:
  name: Composer Normalize
  entry: composer
  language: system
  args:
  - normalize
  - --dry-run
  pass_filenames: false

npm-audit:
  name: NPM Security Audit
  entry: npm
  language: system
  args:
  - audit
  - --audit-level=moderate
  pass_filenames: false

npm-outdated:
  name: NPM Outdated Check
  entry: bash
  language: system
  args:
  - -c
  - npm outdated --depth=0 || true
  pass_filenames: false

laravel-config-cache:
  name: Laravel Config Cache Check
  entry: php
  language: system
  args:
  - artisan
  - config:cache
  pass_filenames: false
  stages:
  - push

laravel-route-cache:
  name: Laravel Route Cache Check
  entry: php
  language: system
  args:
  - artisan
  - route:cache
  pass_filenames: false
  stages:
  - push

performance-test:
  name: Performance Tests
  entry: ./vendor/bin/phpunit
  language: system
  args:
  - --testsuite=Performance
  - --stop-on-failure
  pass_filenames: false
  stages:
  - push

Commit local workspace changes
  fly.toml
Due: none

Add push helper scripts
  incremental-push.ps1
  setup-git-lfs.ps1
Due: none

Add Fly.io deployment configuration and scripts
  Dockerfile
  FLYIO_DEPLOYMENT.md
  deploy-to-flyio.ps1
  docker/nginx.conf
  docker/php-dev.ini
  docker/php-fpm.conf
  docker/php.ini
  docker/supervisord.conf
Due: prettier

chore(fly): fix internal_port to 80, add .dockerignore, runtime entrypoint caches
  .dockerignore
  Dockerfile
  docker/entrypoint.sh
  fly.toml
  install-and-login-flyio.ps1
Due: none

chore(fly): runtime migrations conditional on DB vars
  docker/entrypoint.sh
Due: none

chore(fly): use unique app name bancosystem-5e46637 to avoid name collision
  fly.toml
Due: none

Fix Fly.io deployment configuration
  .claude/settings.local.json
  Dockerfile
  docker/entrypoint.sh
  docker/php-fpm.conf
  docker/supervisord.conf
  fly.toml
  routes/web.php
Due: php-cs-fixer, phpstan, php-unit-tests, prettier, laravel-route-cache

Fix PHP-FPM pool configuration
  .claude/settings.local.json
  Cxampphtdocsbancosystemdockerwww.conf
  Dockerfile
  docker/php-fpm-main.conf
  docker/www.conf
Due: prettier

Fix supervisord and entrypoint permission errors
  docker/entrypoint.sh
  docker/supervisord.conf
Due: none

Fix database URL configuration for Fly.io
  config/database.php
Due: php-cs-fixer, phpstan, php-unit-tests, laravel-config-cache

Fix migration for PostgreSQL compatibility
  database/migrations/2025_07_20_000002_add_database_constraints.php
Due: php-cs-fixer, phpstan, php-unit-tests, migration-check

Fix migration transaction handling for PostgreSQL
  database/migrations/2025_07_20_000003_add_performance_indexes.php
Due: php-cs-fixer, phpstan, php-unit-tests, migration-check

Disable transactions for performance indexes migration to fix PostgreSQL issues
  FLYIO_DEPLOYMENT_STATUS.md
  database/migrations/2025_07_20_000003_add_performance_indexes.php
Due: php-cs-fixer, phpstan, php-unit-tests, prettier, migration-check

Add deployment testing instructions and update status
  DEPLOYMENT_TESTING.md
  FLYIO_DEPLOYMENT_STATUS.md
Due: prettier

Fix agent types migration for PostgreSQL - use CHECK constraints instead of enum
  database/migrations/2025_08_28_100000_update_agent_types.php
  docker/diagnose.sh
Due: php-cs-fixer, phpstan, php-unit-tests, migration-check

Update deployment status documentation
  FLYIO_DEPLOYMENT_STATUS.md
  docker/diagnose.sh
Due: prettier

Fix update_agents_type_enum migration for PostgreSQL compatibility
  database/migrations/2025_10_28_000000_update_agents_type_enum.php
Due: php-cs-fixer, phpstan, php-unit-tests, migration-check

Add comprehensive PostgreSQL migration fixes documentation
  POSTGRESQL_MIGRATION_FIXES.md
Due: prettier

nov 14 commit
  DEPLOYMENT_FINAL_STATUS.md
  diagnose-deployment.bat
Due: prettier

Fix Fly.io deployment configuration issues
  Dockerfile
  docker/entrypoint.sh
  docker/supervisord.conf
  docker/www.conf
Due: none

Fix nginx log file permissions for Fly.io deployment
  docker/nginx.conf
Due: none

Fix PHP-FPM permission errors for Fly.io deployment
  docker/php-fpm-main.conf
Due: none

Fix Docker configuration: Move all log files from /tmp to /var/www/html/storage/logs for proper permissions
  docker/nginx.conf
  docker/php-fpm-main.conf
  docker/supervisord.conf
  docker/www.conf
Due: none

Fix NGINX PID file path - revert to /tmp/nginx.pid for proper permissions
  docker/nginx.conf
Due: none

Fix NGINX startup issues: Ensure log files exist with proper permissions
  docker/entrypoint.sh
Due: none

Simplify NGINX configuration to fix startup issues
  docker/nginx.conf
Due: none

Deploy minimal NGINX configuration to resolve startup issues - Basic health check only
  docker/nginx.conf
Due: none

Fix Docker entrypoint execution - Use proper shell format
  Dockerfile
Due: none

Fix deployment: Use direct supervisord start instead of entrypoint script
  Dockerfile
Due: none

final deployment
  .claude/settings.local.json
  .dockerignore
  .flyignore
  Dockerfile
  app/Providers/AppServiceProvider.php
  docker/nginx.conf
  docker/php-fpm-main.conf
  docker/supervisord.conf
  docker/www.conf
Due: php-cs-fixer, phpstan, php-unit-tests, prettier

repository cleanup
  APPLICATION_RUNNING.md
  CLIENT_AUTH_README.md
  FLYIO_DEPLOYMENT.md
  check-uploads.php
  deploy-cpanel.md
  deploy-to-flyio.ps1
  diagnose-deployment.bat
  error_log
  incremental-push.ps1
  install-and-login-flyio.ps1
  notes.txt
  setup-git-lfs.ps1
  sync-storage.php
  test_pdf_performance.php
Due: php-cs-fixer, phpstan, php-unit-tests, prettier

fixed build
  app/Http/Middleware/ContentSecurityPolicyMiddleware.php
  fly.toml
Due: php-cs-fixer, phpstan, php-unit-tests

memory upgrade
  docker/nginx.conf
  fly.toml
  resources/js/pages/auth/client-register.tsx
Due: eslint, typescript-check, prettier, frontend-tests

feat: Update authentication system and admin panel branding
  app/Http/Controllers/Auth/AuthenticatedSessionController.php
  app/Http/Controllers/Auth/ClientLoginController.php
  app/Http/Controllers/Auth/ClientRegisterController.php
  app/Http/Controllers/Auth/ConfirmablePasswordController.php
  app/Http/Controllers/Auth/EmailVerificationNotificationController.php
  app/Http/Controllers/Auth/EmailVerificationPromptController.php
  app/Http/Controllers/Auth/RegisteredUserController.php
  app/Http/Controllers/Auth/VerifyEmailController.php
  app/Models/User.php
  app/Providers/Filament/AdminPanelProvider.php
  database/migrations/2025_11_15_185411_add_is_admin_to_users_table.php
  database/migrations/2025_11_15_194231_update_national_id_format_for_existing_users.php
  resources/js/app.tsx
  resources/js/layouts/auth/auth-simple-layout.tsx
  resources/js/pages/auth/client-login.tsx
  resources/js/pages/auth/client-register.tsx
  resources/js/pages/auth/confirm-password.tsx
  resources/js/pages/auth/forgot-password.tsx
  resources/js/pages/auth/login.tsx
  resources/js/pages/auth/register.tsx
  resources/js/pages/auth/reset-password.tsx
  resources/js/pages/auth/verify-email.tsx
  resources/js/pages/auth/verify-login-otp.tsx
  resources/js/pages/auth/verify-otp.tsx
  resources/js/pages/welcome.tsx
  routes/auth.php
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests, migration-check, laravel-route-cache

fix: Create .env file in Docker container to resolve 500 errors
  Dockerfile
  app/Services/OtpService.php
Due: php-cs-fixer, phpstan, php-unit-tests

correct ministry dropdown
  resources/js/components/ApplicationWizard/forms/SSBLoanForm.tsx
Due: eslint, typescript-check, prettier, frontend-tests

feat: Add M&E and Training fee tracking for MicroBiz + SMS thank you message
  app/Http/Controllers/CashPurchaseController.php
  app/Models/CashPurchase.php
  database/migrations/2025_11_15_000001_add_me_and_training_fees_to_cash_purchases_table.php
  resources/js/components/CashPurchase/CashPurchaseWizard.tsx
  resources/js/components/CashPurchase/steps/CheckoutStep.tsx
  resources/js/components/CashPurchase/steps/SummaryStep.tsx
  routes/api.php
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests, migration-check, laravel-route-cache

fix: Enable all product categories in application wizard and split Airtime/Delivery Services
  app/Http/Controllers/Api/ProductController.php
  database/migrations/2025_11_15_213027_add_type_to_product_categories_table.php
  database/seeders/PersonalProductsSeeder.php
  database/seeders/ProductCatalogSeeder.php
  resources/js/components/ApplicationWizard/steps/ApplicationSummary.tsx
  resources/js/components/ApplicationWizard/steps/ProductSelection.tsx
  resources/js/components/CashPurchase/steps/CatalogueStep.tsx
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests, migration-check

Path conditions:
  php-cs-fixer: any of: \.php$
  phpstan: any of: \.php$
  php-unit-tests: any of: \.php$
  php-security-check: any of: composer\.lock$
  eslint: any of: \.(js|jsx|ts|tsx)$
  typescript-check: any of: \.(ts|tsx)$
  prettier: any of: \.(js|jsx|ts|tsx|json|css|scss|md)$
  frontend-tests: any of: \.(js|jsx|ts|tsx)$
  migration-check: any of: database/migrations/.*\.php$
  env-check: any of: \.env\.example$
  composer-validate: any of: composer\.json$
  composer-normalize: any of: composer\.json$
  npm-audit: any of: package\.json$
  npm-outdated: any of: package\.json$
  laravel-config-cache: any of: config/.*\.php$
  laravel-route-cache: any of: routes/.*\.php$
  performance-test: any of: tests/Performance/.*\.php$
