Repository BANCOZIM-HOLDINGS-PVT-LTD/zb-bancosystem: changes, and which pre-commit hooks are due for each by the changed paths.
All: php-cs-fixer, phpstan, php-unit-tests, php-security-check, eslint, typescript-check, prettier, frontend-tests, migration-check, env-check, composer-validate, composer-normalize, npm-audit, npm-outdated, laravel-config-cache, laravel-route-cache, performance-test

php-cs-fixer:
  name: PHP CS Fixer
  entry: ./vendor/bin/php-cs-fixer
  language: system
  args:
  - fix
  - --dry-run
  - --diff
  - --config=.php-cs-fixer.php
  pass_filenames: false

phpstan:
  name: PHPStan Static Analysis
  entry: ./vendor/bin/phpstan
  language: system
  args:
  - analyse
  - --memory-limit=1G
  - --no-progress
  pass_filenames: false

php-unit-tests:
  name: PHP Unit Tests
  entry: ./vendor/bin/phpunit
  language: system
  args:
  - --testsuite=Unit
  - --stop-on-failure
  pass_filenames: false
  stages:
  - commit

php-security-check:
  name: PHP Security Check
  entry: ./vendor/bin/security-checker
  language: system
  args:
  - security:check
  - composer.lock
  pass_filenames: false

eslint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Check
  entry: npm run type-check
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: npm run format:check
  language: system
  pass_filenames: false

frontend-tests:
  name: Frontend Tests
  entry: npm run test:unit
  language: system
  pass_filenames: false
  stages:
  - commit

migration-check:
  name: Database Migration Check
  entry: php
  language: system
  args:
  - artisan
  - migrate:status
  - --pending
  pass_filenames: false
  stages:
  - commit

env-check:
  name: Environment File Check
  entry: bash
  language: system
  args:
  - -c
  - if [ -f .env.example ] && [ -f .env ]; then diff -u .env.example .env | grep "^+" | grep -v "^+++" | grep -v "^+APP_KEY" | grep -v "^+DB_" | grep -v "^+MAIL_" | grep -v "^+AWS_" && exit 1 || exit 0; fi
  pass_filenames: false

composer-validate:
  name: Composer Validate
  entry: composer
  language: system
  args:
  - validate
  - --strict
  pass_filenames: false

composer-normalize:
  name: Composer Normalize
  entry: composer
  language: system
  args:
  - normalize
  - --dry-run
  pass_filenames: false

npm-audit:
  name: NPM Security Audit
  entry: npm
  language: system
  args:
  - audit
  - --audit-level=moderate
  pass_filenames: false

npm-outdated:
  name: NPM Outdated Check
  entry: bash
  language: system
  args:
  - -c
  - npm outdated --depth=0 || true
  pass_filenames: false

laravel-config-cache:
  name: Laravel Config Cache Check
  entry: php
  language: system
  args:
  - artisan
  - config:cache
  pass_filenames: false
  stages:
  - push

laravel-route-cache:
  name: Laravel Route Cache Check
  entry: php
  language: system
  args:
  - artisan
  - route:cache
  pass_filenames: false
  stages:
  - push

performance-test:
  name: Performance Tests
  entry: ./vendor/bin/phpunit
  language: system
  args:
  - --testsuite=Performance
  - --stop-on-failure
  pass_filenames: false
  stages:
  - push

feat: Add admin user seeder with default credentials
  database/seeders/AdminUserSeeder.php
  database/seeders/DatabaseSeeder.php
Due: php-cs-fixer, phpstan, php-unit-tests

login routes corrected
  app/Http/Controllers/WelcomeController.php
  app/Providers/Filament/AdminPanelProvider.php
  app/Services/OtpService.php
  public/adala2-removebg-preview.png
  public/apple-touch-icon.png
  public/favicon.ico
  public/favicon.svg
  public/logo.svg
  resources/js/components/CashPurchase/steps/CheckoutStep.tsx
  resources/js/pages/auth/client-register.tsx
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests

Add SSB security sector ministries and implement ZB Bank account verification flow
  resources/js/components/ApplicationWizard/forms/AccountHoldersLoanForm.tsx
  resources/js/components/ApplicationWizard/forms/SSBLoanForm.tsx
  resources/js/components/ApplicationWizard/steps/AccountVerification.tsx
  resources/js/components/ApplicationWizard/steps/ApplicationSummary.tsx
Due: eslint, typescript-check, prettier, frontend-tests

sms delivery after application success
  app/Http/Controllers/ApplicationWizardController.php
Due: php-cs-fixer, phpstan, php-unit-tests

pdf form populatiion
  resources/views/forms/account_holders_pdf.blade.php
  resources/views/forms/sme_account_opening_pdf.blade.php
  resources/views/forms/sme_business_pdf.blade.php
  resources/views/forms/zb_account_opening_pdf.blade.php
Due: php-cs-fixer, phpstan, php-unit-tests

updating hire purchase products
  database/seeders/PersonalProductsSeeder.php
Due: php-cs-fixer, phpstan, php-unit-tests

drivers license changes
  database/seeders/PersonalProductsSeeder.php
Due: php-cs-fixer, phpstan, php-unit-tests

changed loan terms to 3-18 months
  resources/js/components/ApplicationWizard/steps/ProductSelection.tsx
  resources/js/services/productService.ts
Due: eslint, typescript-check, prettier, frontend-tests

ID validation + products updated
  database/seeders/PersonalProductsSeeder.php
  database/seeders/ProductCatalogSeeder.php
  resources/js/components/DocumentUpload/DocumentUploadStep.tsx
  tests/Feature/IDVerificationTest.php
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests

adding quadbikes
  database/seeders/PersonalProductsSeeder.php
  database/seeders/ProductCatalogSeeder.php
Due: php-cs-fixer, phpstan, php-unit-tests

payment updated in the ui to correct payment flow
  resources/js/components/CashPurchase/CashPurchaseWizard.tsx
  resources/js/components/CashPurchase/payments/EcoCashPayment.tsx
  resources/js/components/CashPurchase/payments/InnBucksPayment.tsx
  resources/js/components/CashPurchase/payments/OmariPayment.tsx
  resources/js/components/CashPurchase/payments/OneMoneyPayment.tsx
  resources/js/components/CashPurchase/payments/VisaPayment.tsx
  resources/js/components/CashPurchase/payments/ZimswitchPayment.tsx
  resources/js/components/CashPurchase/steps/CheckoutStep.tsx
  resources/js/utils/currency.ts
Due: eslint, typescript-check, prettier, frontend-tests

delivery corrected
  resources/js/components/ApplicationWizard/steps/DeliverySelection.tsx
  resources/js/components/CashPurchase/steps/DeliveryStep.tsx
Due: eslint, typescript-check, prettier, frontend-tests

form rerouting
  app/Services/PDF/PDFTemplateService.php
  resources/js/components/ApplicationWizard/ApplicationWizard.tsx
  resources/js/components/ApplicationWizard/steps/ApplicationSummary.tsx
  resources/js/components/ApplicationWizard/steps/FormStep.tsx
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests

Update agent management, PDF handling, and UI improvements
  app/Filament/Resources/AgentResource.php
  app/Filament/Resources/PDFManagementResource.php
  resources/js/components/ApplicationWizard/steps/AccountVerification.tsx
  resources/js/components/ApplicationWizard/steps/ProductSelection.tsx
  resources/js/components/CashPurchase/steps/CheckoutStep.tsx
  resources/views/forms/account_holders_pdf.blade.php
  resources/views/forms/zb_account_opening_pdf.blade.php
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests

Add agent_type field and migrate from bank to Ecocash accounts
  database/migrations/2025_11_19_180342_add_agent_type_and_ecocash_fields_to_agents_table.php
  database/seeders/AgentSeeder.php
Due: php-cs-fixer, phpstan, php-unit-tests, migration-check

Update CSV export format for loan applications
  app/Filament/Resources/ApplicationResource/Pages/ListApplications.php
Due: php-cs-fixer, phpstan, php-unit-tests

Update referral system to follow authentication-first user flow
  app/Http/Controllers/ApplicationWizardController.php
  app/Http/Controllers/WelcomeController.php
  resources/js/components/ApplicationWizard/ApplicationWizard.tsx
  resources/js/pages/welcome.tsx
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests

Add agent dashboard portal and update branding consistency
  .claude/settings.local.json
  app/Filament/Agent/Pages/AgentDashboard.php
  app/Filament/Agent/Pages/AgentLogin.php
  app/Filament/Agent/Widgets/ClientCommissionsWidget.php
  app/Filament/Agent/Widgets/CommissionBalanceWidget.php
  app/Http/Middleware/AuthenticateAgent.php
  app/Models/Agent.php
  app/Providers/Filament/AgentPanelProvider.php
  bootstrap/app.php
  bootstrap/providers.php
  config/auth.php
  resources/js/components/ApplicationWizard/forms/ZBAccountOpeningForm.tsx
  resources/js/pages/ApplicationStatus.tsx
  resources/js/pages/ApplicationSuccess.tsx
  resources/js/pages/ApplicationWizard.tsx
  resources/js/pages/welcome.tsx
  resources/views/app.blade.php
  resources/views/filament/agent/pages/agent-dashboard.blade.php
  resources/views/filament/agent/pages/agent-login.blade.php
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests, laravel-config-cache

updated credit type facility to hirepurchase, updated address input for institutionsm updated zb branches
  app/Filament/Resources/AgentResource.php
  resources/js/components/ApplicationWizard/components/FormField.tsx
  resources/js/components/ApplicationWizard/data/zimbabweBanks.ts
  resources/js/components/ApplicationWizard/forms/AccountHoldersLoanForm.tsx
  resources/js/components/ApplicationWizard/forms/SMEBusinessForm.tsx
  resources/js/components/ApplicationWizard/forms/SSBLoanForm.tsx
  resources/js/components/ApplicationWizard/forms/ZBAccountOpeningForm.tsx
  resources/js/components/ApplicationWizard/steps/ApplicationSummary.tsx
  resources/js/components/ApplicationWizard/steps/ProductSelection.tsx
  resources/js/components/ui/address-input.tsx
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests

csv export and bulk pdf correction done-last commit before spit the web app admin sides and the system
  app/Filament/Resources/ApplicationResource/Pages/ListApplications.php
  app/Filament/Resources/PDFManagementResource.php
  app/Http/Controllers/Admin/PDFManagementController.php
Due: php-cs-fixer, phpstan, php-unit-tests

Update M&E pricing to 10% and add delivery tracking enhancements
  app/Console/Commands/CleanupDeliveredApplications.php
  app/Enums/SSBLoanStatus.php
  app/Enums/ZBLoanStatus.php
  app/Filament/Resources/ApplicationResource.php
  app/Filament/Resources/ApplicationResource/Pages/ViewApplication.php
  app/Filament/Resources/CashPurchaseResource.php
  app/Http/Controllers/Admin/ApplicationManagementController.php
  app/Http/Controllers/CashPurchaseController.php
  app/Http/Controllers/DeliveryTrackingController.php
  app/Http/Controllers/EcocashWebhookController.php
  app/Models/ApplicationState.php
  app/Models/CashPurchase.php
  app/Services/EcocashPaymentService.php
  app/Services/SMSService.php
  app/Services/SSBStatusService.php
  app/Services/ZBStatusService.php
  config/services.php
  database/migrations/2025_11_22_193143_add_exempt_from_auto_deletion_to_application_states_and_cash_purchases.php
  database/seeders/PersonalProductsSeeder.php
  resources/js/components/ApplicationWizard/ApplicationWizard.tsx
  resources/js/components/ApplicationWizard/steps/ApplicationSummary.tsx
  resources/js/components/ApplicationWizard/steps/ProductSelection.tsx
  resources/js/components/CashPurchase/steps/CheckoutStep.tsx
  resources/js/components/CashPurchase/steps/SummaryStep.tsx
  resources/js/pages/DeliveryTracking.tsx
  resources/views/filament/forms/components/application-data.blade.php
  routes/api.php
  routes/console.php
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests, migration-check, laravel-config-cache, laravel-route-cache

added a booking system route, added campaigns module and holiday package resource including in app booking. systems looks clean
  .gitignore
  app/Filament/Resources/CampaignResource.php
  app/Filament/Resources/CampaignResource/Pages/CreateCampaign.php
  app/Filament/Resources/CampaignResource/Pages/EditCampaign.php
  app/Filament/Resources/CampaignResource/Pages/ListCampaigns.php
  app/Filament/Resources/CampaignResource/Pages/ViewCampaign.php
  app/Filament/Resources/HolidayBookingResource.php
  app/Filament/Resources/HolidayBookingResource/Pages/EditHolidayBooking.php
  app/Filament/Resources/HolidayBookingResource/Pages/ListHolidayBookings.php
  app/Filament/Resources/HolidayBookingResource/Pages/ViewHolidayBooking.php
  app/Http/Controllers/AdminController.php
  app/Models/Agent.php
  app/Models/Campaign.php
  database/migrations/2025_11_26_145219_create_campaigns_table.php
  package-lock.json
  package.json
  resources/css/app.css
  resources/css/datepicker-custom.css
  resources/js/components/ApplicationWizard/data/packageDescriptions.ts
  resources/js/components/ApplicationWizard/data/zimparksDestinations.ts
  resources/js/components/ApplicationWizard/steps/ApplicationSummary.tsx
  resources/js/components/ApplicationWizard/steps/DeliverySelection.tsx
  resources/js/components/ApplicationWizard/steps/ProductSelection.tsx
  routes/web.php
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests, migration-check, npm-audit, npm-outdated, laravel-route-cache

updated delivery and commissions for auto population
  app/Filament/Resources/CommissionResource.php
  app/Filament/Resources/CommissionResource/Pages/ListCommissions.php
  app/Filament/Resources/DeliveryTrackingResource.php
  app/Filament/Resources/DeliveryTrackingResource/Pages/ViewDeliveryTracking.php
  app/Services/ApplicationWorkflowService.php
Due: php-cs-fixer, phpstan, php-unit-tests

fixed product flow, microbiz pricing and product series, variants and images
  app/Filament/Resources/ProductResource.php
  app/Filament/Resources/ProductSeriesResource.php
  app/Filament/Resources/ProductSeriesResource/Pages/CreateProductSeries.php
  app/Filament/Resources/ProductSeriesResource/Pages/EditProductSeries.php
  app/Filament/Resources/ProductSeriesResource/Pages/ListProductSeries.php
  app/Http/Controllers/Api/ProductController.php
  app/Models/Product.php
  app/Models/ProductCategory.php
  app/Models/ProductPackageSize.php
  app/Models/ProductSeries.php
  app/Models/ProductSubCategory.php
  database/migrations/2025_12_01_111213_create_product_series_table.php
  database/migrations/2025_12_01_111215_add_series_and_colors_to_products_table.php
  database/migrations/2025_12_01_143300_add_description_to_product_package_sizes_table.php
  database/seeders/DatabaseSeeder.php
  database/seeders/HirePurchaseSeeder.php
  database/seeders/PersonalProductsSeeder.php
  database/seeders/ProductCatalogSeeder.php
  public/uploads/product-series/01KBCW9FX46P5DVM1BVRSPWYZP.jpg
  resources/js/components/ApplicationWizard/steps/ProductSelection.tsx
  resources/js/services/productService.ts
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests, migration-check

fixed product count on the hire puchase page
  database/seeders/HirePurchaseSeeder.php
  resources/js/components/ApplicationWizard/steps/ProductSelection.tsx
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests

fixed also the cashpurchase product flow
  resources/js/components/CashPurchase/steps/CatalogueStep.tsx
Due: eslint, typescript-check, prettier, frontend-tests

Fix Admin Dashboard Mixed Content and Livewire 404 errors
  .claude/settings.local.json
  app/Providers/Filament/AdminPanelProvider.php
  bootstrap/app.php
  public/vendor/livewire/livewire.esm.js
  public/vendor/livewire/livewire.esm.js.map
  public/vendor/livewire/livewire.js
  public/vendor/livewire/livewire.min.js
  public/vendor/livewire/livewire.min.js.map
  public/vendor/livewire/manifest.json
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, prettier, frontend-tests

Fix file upload 500 error - nginx permissions issue
  Dockerfile
  docker/entrypoint.sh
  docker/nginx.conf
Due: none

Refactor document upload to use Storage facade
  routes/api.php
Due: php-cs-fixer, phpstan, php-unit-tests, laravel-route-cache

fixed hirepurchase and microbiz product type to handle them seperately
  resources/js/services/productService.ts
Due: eslint, typescript-check, prettier, frontend-tests

fixed the login/register and reference code service to be correctly handling so the user is accepted even the login flow to show the correct pages and intents
  app/Filament/Resources/ApplicationResource.php
  app/Http/Controllers/Auth/ClientLoginController.php
  app/Http/Controllers/WelcomeController.php
  app/Services/ReferenceCodeService.php
  resources/js/pages/welcome.tsx
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests

Add invoice pages to PDFs, update loan calculations with 96% interest and 6% admin fee, add Starlink product, fix image URLs
  app/Filament/Resources/ApplicationResource.php
  app/Filament/Resources/DeliveryTrackingResource.php
  app/Filament/Resources/PDFManagementResource.php
  app/Http/Controllers/Api/ProductController.php
  app/Services/PDFGeneratorService.php
  app/Services/SSBStatusService.php
  app/Services/ZBStatusService.php
  database/seeders/PersonalProductsSeeder.php
  public/uploads/products/01KBMWV8JS0AN71C7HM5WVG2X6.jpg
  resources/js/components/ApplicationWizard/steps/ApplicationSummary.tsx
  resources/js/components/ApplicationWizard/steps/ProductSelection.tsx
  resources/js/services/productService.ts
  resources/views/forms/account_holders_pdf.blade.php
  resources/views/forms/ssb_form_pdf.blade.php
  resources/views/forms/zb_account_opening_pdf.blade.php
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests

created agent portal, created whatsapp conversation flow, created agent portal to login and view their portal details. created agent filament to manage agents
  app/Console/Commands/TestWhatsAppFlow.php
  app/Filament/Resources/AgentApplicationResource.php
  app/Filament/Resources/AgentApplicationResource/Pages/CreateAgentApplication.php
  app/Filament/Resources/AgentApplicationResource/Pages/EditAgentApplication.php
  app/Filament/Resources/AgentApplicationResource/Pages/ListAgentApplications.php
  app/Filament/Resources/AgentApplicationResource/Pages/ViewAgentApplication.php
  app/Filament/Resources/AgentResource/Pages/CreateAgent.php
  app/Http/Controllers/AgentPortalController.php
  app/Http/Controllers/WhatsAppWebhookController.php
  app/Models/AgentApplication.php
  app/Services/RapiWhaService.php
  app/Services/TwilioWhatsAppService.php
  app/Services/WhatsAppConversationService.php
  config/services.php
  database/migrations/2025_12_05_091516_create_agent_applications_table.php
  database/migrations/2025_12_05_104132_add_extra_fields_to_agent_applications_table.php
  resources/js/pages/agent/Dashboard.tsx
  resources/js/pages/agent/Login.tsx
  resources/views/agent/dashboard.blade.php
  resources/views/agent/login.blade.php
  resources/views/filament/modals/agent-id-documents.blade.php
  routes/api.php
  routes/web.php
  tests/Feature/WhatsAppWebhookTest.php
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests, migration-check, laravel-config-cache, laravel-route-cache

corrected the invoice design for all pdf forms
  resources/views/forms/account_holders_pdf.blade.php
  resources/views/forms/ssb_form_pdf.blade.php
  resources/views/forms/zb_account_opening_pdf.blade.php
Due: php-cs-fixer, phpstan, php-unit-tests

removed the legacy whatsapp flow, left the new flow
  app/Services/WhatsAppConversationService.php
Due: php-cs-fixer, phpstan, php-unit-tests

reinstated the twilio whatsapp service for onboarding messages with clients. tested successfully, messages returning successfully
  .env.example
  app/Console/Commands/TestWhatsApp.php
  app/Enums/ConversationState.php
  app/Http/Controllers/WhatsAppWebhookController.php
  app/Services/TwilioWhatsAppService.php
  app/Services/WhatsAppConversationService.php
  app/Services/WhatsAppStateMachine.php
  config/services.php
Due: php-cs-fixer, phpstan, php-unit-tests, env-check, laravel-config-cache

Refactor Application & Purchase Flows: Fix Navigation, Payment, and Delivery Logic
  app/Filament/Resources/DeliveryTrackingResource.php
  app/Http/Controllers/CashPurchaseController.php
  app/Http/Controllers/LoanController.php
  app/Http/Controllers/PaynowController.php
  app/Models/DeliveryTracking.php
  app/Services/PaynowService.php
  database/migrations/2025_12_10_104037_add_post_office_columns_to_delivery_trackings_table.php
  resources/js/components/ApplicationWizard/ApplicationWizard.tsx
  resources/js/components/ApplicationWizard/components/FormField.tsx
  resources/js/components/ApplicationWizard/forms/AccountHoldersLoanForm.tsx
  resources/js/components/ApplicationWizard/forms/SMEBusinessForm.tsx
  resources/js/components/ApplicationWizard/forms/SSBLoanForm.tsx
  resources/js/components/ApplicationWizard/forms/ZBAccountOpeningForm.tsx
  resources/js/components/ApplicationWizard/steps/ApplicationSummary.tsx
  resources/js/components/ApplicationWizard/steps/CreditTypeSelection.tsx
  resources/js/components/ApplicationWizard/steps/DeliverySelection.tsx
  resources/js/components/ApplicationWizard/steps/DepositPaymentStep.tsx
  resources/js/components/ApplicationWizard/steps/FormStep.tsx
  resources/js/components/ApplicationWizard/steps/ProductSelection.tsx
  resources/js/components/ApplicationWizard/utils/validation.ts
  resources/js/components/CashPurchase/CashPurchaseWizard.tsx
  resources/js/components/CashPurchase/payments/EcoCashPayment.tsx
  resources/js/components/CashPurchase/steps/CheckoutStep.tsx
  resources/js/components/CashPurchase/steps/DeliveryStep.tsx
  resources/js/components/DocumentUpload/DocumentUploadStep.tsx
  resources/js/pages/ApplicationSuccess.tsx
  resources/js/pages/DeliveryTracking.tsx
  resources/js/pages/auth/client-register.tsx
  resources/js/utils/zimbabwean-id-validator.ts
  routes/api.php
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests, migration-check, laravel-route-cache

Fix TypeScript error in ApplicationSummary: Add hasAccount prop to interface
  resources/js/components/ApplicationWizard/steps/ApplicationSummary.tsx
Due: eslint, typescript-check, prettier, frontend-tests

feat: Global form updates, delivery refactor & admin enhancements
  NATIONAL ROUTE FREQUENCY.xlsx
  app/Filament/Resources/DeliveryTrackingResource.php
  app/Models/DeliveryTracking.php
  app/Services/DeliveryEstimatorService.php
  database/migrations/2025_12_11_114833_add_product_serial_number_to_delivery_trackings_table.php
  read_excel.py
  resources/js/components/ApplicationWizard/ApplicationWizard.tsx
  resources/js/components/ApplicationWizard/forms/AccountHoldersLoanForm.tsx
  resources/js/components/ApplicationWizard/forms/SMEBusinessForm.tsx
  resources/js/components/ApplicationWizard/forms/SSBLoanForm.tsx
  resources/js/components/ApplicationWizard/forms/ZBAccountOpeningForm.tsx
  resources/js/components/ApplicationWizard/steps/DeliverySelection.tsx
  resources/js/components/CashPurchase/CashPurchaseWizard.tsx
  resources/js/components/CashPurchase/steps/DeliveryStep.tsx
  resources/js/components/ui/phone-input.tsx
  resources/js/pages/CashPurchaseSuccess.tsx
  resources/js/pages/auth/client-register.tsx
  resources/js/utils/zimbabwean-id-validator.ts
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests, migration-check

Path conditions:
  php-cs-fixer: any of: \.php$
  phpstan: any of: \.php$
  php-unit-tests: any of: \.php$
  php-security-check: any of: composer\.lock$
  eslint: any of: \.(js|jsx|ts|tsx)$
  typescript-check: any of: \.(ts|tsx)$
  prettier: any of: \.(js|jsx|ts|tsx|json|css|scss|md)$
  frontend-tests: any of: \.(js|jsx|ts|tsx)$
  migration-check: any of: database/migrations/.*\.php$
  env-check: any of: \.env\.example$
  composer-validate: any of: composer\.json$
  composer-normalize: any of: composer\.json$
  npm-audit: any of: package\.json$
  npm-outdated: any of: package\.json$
  laravel-config-cache: any of: config/.*\.php$
  laravel-route-cache: any of: routes/.*\.php$
  performance-test: any of: tests/Performance/.*\.php$
