Repository BANCOZIM-HOLDINGS-PVT-LTD/zb-bancosystem: changes, and which pre-commit hooks are due for each by the changed paths.
All: php-cs-fixer, phpstan, php-unit-tests, php-security-check, eslint, typescript-check, prettier, frontend-tests, migration-check, env-check, composer-validate, composer-normalize, npm-audit, npm-outdated, laravel-config-cache, laravel-route-cache, performance-test

php-cs-fixer:
  name: PHP CS Fixer
  entry: ./vendor/bin/php-cs-fixer
  language: system
  args:
  - fix
  - --dry-run
  - --diff
  - --config=.php-cs-fixer.php
  pass_filenames: false

phpstan:
  name: PHPStan Static Analysis
  entry: ./vendor/bin/phpstan
  language: system
  args:
  - analyse
  - --memory-limit=1G
  - --no-progress
  pass_filenames: false

php-unit-tests:
  name: PHP Unit Tests
  entry: ./vendor/bin/phpunit
  language: system
  args:
  - --testsuite=Unit
  - --stop-on-failure
  pass_filenames: false
  stages:
  - commit

php-security-check:
  name: PHP Security Check
  entry: ./vendor/bin/security-checker
  language: system
  args:
  - security:check
  - composer.lock
  pass_filenames: false

eslint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Check
  entry: npm run type-check
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: npm run format:check
  language: system
  pass_filenames: false

frontend-tests:
  name: Frontend Tests
  entry: npm run test:unit
  language: system
  pass_filenames: false
  stages:
  - commit

migration-check:
  name: Database Migration Check
  entry: php
  language: system
  args:
  - artisan
  - migrate:status
  - --pending
  pass_filenames: false
  stages:
  - commit

env-check:
  name: Environment File Check
  entry: bash
  language: system
  args:
  - -c
  - if [ -f .env.example ] && [ -f .env ]; then diff -u .env.example .env | grep "^+" | grep -v "^+++" | grep -v "^+APP_KEY" | grep -v "^+DB_" | grep -v "^+MAIL_" | grep -v "^+AWS_" && exit 1 || exit 0; fi
  pass_filenames: false

composer-validate:
  name: Composer Validate
  entry: composer
  language: system
  args:
  - validate
  - --strict
  pass_filenames: false

composer-normalize:
  name: Composer Normalize
  entry: composer
  language: system
  args:
  - normalize
  - --dry-run
  pass_filenames: false

npm-audit:
  name: NPM Security Audit
  entry: npm
  language: system
  args:
  - audit
  - --audit-level=moderate
  pass_filenames: false

npm-outdated:
  name: NPM Outdated Check
  entry: bash
  language: system
  args:
  - -c
  - npm outdated --depth=0 || true
  pass_filenames: false

laravel-config-cache:
  name: Laravel Config Cache Check
  entry: php
  language: system
  args:
  - artisan
  - config:cache
  pass_filenames: false
  stages:
  - push

laravel-route-cache:
  name: Laravel Route Cache Check
  entry: php
  language: system
  args:
  - artisan
  - route:cache
  pass_filenames: false
  stages:
  - push

performance-test:
  name: Performance Tests
  entry: ./vendor/bin/phpunit
  language: system
  args:
  - --testsuite=Performance
  - --stop-on-failure
  pass_filenames: false
  stages:
  - push

removed live data from the categories statement
  resources/js/components/ApplicationWizard/steps/ProductSelection.tsx
Due: eslint, typescript-check, prettier, frontend-tests

delivery terminology
  resources/js/components/ApplicationWizard/steps/DeliverySelection.tsx
  resources/js/components/ApplicationWizard/steps/ProductSelection.tsx
  resources/js/components/CashPurchase/steps/DeliveryStep.tsx
Due: eslint, typescript-check, prettier, frontend-tests

last changes 1641 pm developer handoff
  DEVELOPER_HANDOFF.md
  WhatsApp Image 2026-01-26 at 14.33.49.jpeg
  WhatsApp Image 2026-01-26 at 15.10.35.jpeg
  app/Http/Controllers/Api/StateController.php
  app/Http/Requests/SaveApplicationStateRequest.php
  bootstrap/app.php
  database/migrations/2026_01_26_150000_add_last_activity_to_application_states_table.php
  resources/js/components/ui/selfie-camera.tsx
  test_payload.json
  vite.config.ts
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests, migration-check

fixing documents including pdf attachment pages part 1
  DEVELOPER_HANDOFF.md
  app/Http/Controllers/Api/StateController.php
  app/Observers/ApplicationStateObserver.php
  app/Services/PDFGeneratorService.php
  app/Services/StateManager.php
  database/migrations/2026_01_26_150000_add_last_activity_to_application_states_table.php
  database/seeders/DummyApplicationSeeder.php
  read_log.php
  resources/js/components/ApplicationWizard/ApplicationWizard.tsx
  resources/js/components/ApplicationWizard/utils/validation.ts
  resources/js/components/DocumentUpload/DocumentUploadStep.tsx
  resources/views/forms/account_holders_pdf.blade.php
  resources/views/forms/sme_account_opening_pdf.blade.php
  resources/views/forms/sme_business_pdf.blade.php
  resources/views/forms/ssb_form_pdf.blade.php
  resources/views/forms/zb_account_opening_pdf.blade.php
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests, migration-check

dev handoff document
  DEVELOPER_HANDOFF.md
Due: prettier

Platform audit: Fix 26 bugs across security, controllers, services, and models
  app/Http/Controllers/Admin/ApplicationManagementController.php
  app/Http/Controllers/ApplicationStatusController.php
  app/Http/Controllers/ApplicationWizardController.php
  app/Http/Controllers/PaynowController.php
  app/Models/Agent.php
  app/Models/LoanTerm.php
  app/Models/ProductPackage.php
  app/Models/PurchaseOrder.php
  app/Models/PurchaseOrderItem.php
  app/Models/Supplier.php
  app/Models/User.php
  app/Services/AutomatedCheckService.php
  app/Services/FCBService.php
  app/Services/NotificationService.php
  app/Services/PDFGeneratorService.php
  app/Services/PaynowService.php
  app/Services/ZBStatusService.php
  resources/views/forms/account_holders_pdf.blade.php
  resources/views/forms/ssb_form_pdf.blade.php
  resources/views/forms/zb_account_opening_pdf.blade.php
  routes/api.php
  routes/web.php
Due: php-cs-fixer, phpstan, php-unit-tests, laravel-route-cache

feat: Update packages, categories, and delivery selection UI
  DEVELOPER_HANDOFF.md
  FCB Individuals Report - BLESSING DUBE.pdf
  GAIN & METRO BRANCH CONTACT LIST 2024.xlsx
  app/Services/WhatsAppStateMachine.php
  branches.json
  branches_utf8.csv
  database/seeders/PersonalProductsSeeder.php
  database/seeders/ProductCatalogSeeder.php
  read_excel.php
  resources/js/components/ApplicationWizard/ApplicationWizard.tsx
  resources/js/components/ApplicationWizard/data/categories.ts
  resources/js/components/ApplicationWizard/steps/CreditTypeSelection.tsx
  resources/js/components/ApplicationWizard/steps/DeliverySelection.tsx
  resources/js/components/ApplicationWizard/steps/DepositPaymentStep.tsx
  resources/js/components/ApplicationWizard/steps/ProductSelection.tsx
  resources/js/components/CashPurchase/CashPurchaseWizard.tsx
  resources/js/components/CashPurchase/steps/CheckoutStep.tsx
  resources/js/components/CashPurchase/steps/DeliveryStep.tsx
  resources/js/components/CashPurchase/steps/SummaryStep.tsx
  resources/js/services/productService.ts
  resources/views/reports/fcb_report.blade.php
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests

otp sending fix
  app/Jobs/SendOtpJob.php
Due: php-cs-fixer, phpstan, php-unit-tests

documents and application submission fixed
  resources/js/components/ApplicationWizard/ApplicationWizard.tsx
  resources/js/components/DocumentUpload/DocumentUploadStep.tsx
Due: eslint, typescript-check, prettier, frontend-tests

application success message
  app/Http/Controllers/Api/StateController.php
  app/Services/NotificationService.php
Due: php-cs-fixer, phpstan, php-unit-tests

ssb form attachments fixed, everything is set completely fine only for ssb
  app/Http/Controllers/Admin/PDFManagementController.php
  app/Http/Controllers/ApplicationPDFController.php
  app/Services/PDFGeneratorService.php
  resources/views/forms/partials/pdf_attachments.blade.php
  routes/api.php
Due: php-cs-fixer, phpstan, php-unit-tests, laravel-route-cache

Deployment complete! I've fixed the 500 error on both admin panels.
  .dockerignore
  app/Filament/Resources/ApplicationResource.php
  app/Filament/Resources/PDFManagementResource.php
  app/Filament/ZbAdmin/Resources/SsbLoanResource.php
  app/Filament/ZbAdmin/Resources/ZbApplicationResource.php
  app/Filament/ZbAdmin/Widgets/PendingZBApprovalsWidget.php
  app/Filament/ZbAdmin/Widgets/ZBApplicationStatsWidget.php
  app/Models/ApplicationState.php
  database/migrations/2026_01_24_112000_modify_courier_type_to_string.php
  database/seeders/DeployProductUpdateSeeder.php
  resources/js/components/ApplicationWizard/steps/ProductSelection.tsx
  routes/api.php
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests, migration-check, laravel-route-cache

I've implemented the enhanced Document Verification workflow.
  app/Filament/Resources/DocumentVerificationResource.php
  app/Filament/Resources/DocumentVerificationResource/Pages/ProcessApplication.php
  resources/views/filament/resources/document-verification-resource/pages/process-application.blade.php
Due: php-cs-fixer, phpstan, php-unit-tests

last succeessful deployment
  fly.toml
Due: none

✅ Personal Gadgets (?intent=personalGadgets) now excludes these services and only shows actual gadgets like:
  database/seeders/DummyApplicationSeeder.php
  database/seeders/HirePurchaseSeeder.php
  database/seeders/PersonalProductsSeeder.php
  resources/js/components/ApplicationWizard/steps/ProductSelection.tsx
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests

AddressInput Component: Simplified to Urban/Rural structure with city selection for urban and ward/district entry for rural addresses.
  resources/js/components/ApplicationWizard/forms/AccountHoldersLoanForm.tsx
  resources/js/components/ApplicationWizard/forms/SSBLoanForm.tsx
  resources/js/components/ApplicationWizard/forms/ZBAccountOpeningForm.tsx
  resources/js/components/ui/address-input.tsx
  resources/views/forms/account_holders_pdf.blade.php
  resources/views/forms/ssb_form_pdf.blade.php
  resources/views/forms/zb_account_opening_pdf.blade.php
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests

I've updated the SSBLoanForm to match the AccountHoldersLoanForm pattern for "Loans with other institutions":
  resources/js/components/ApplicationWizard/forms/SSBLoanForm.tsx
Due: eslint, typescript-check, prettier, frontend-tests

Done! The Government of Zimbabwe - SSB option is now disabled on the employer selection step:
  resources/js/components/ApplicationWizard/steps/EmployerSelection.tsx
Due: eslint, typescript-check, prettier, frontend-tests

Done! ✅ Added Small Scale Mining to the WhatsApp microBiz conversation options with:
  app/Services/WhatsAppStateMachine.php
Due: php-cs-fixer, phpstan, php-unit-tests

Fixed! ✅ Removed the unused isInstitutionAddress prop from the AddressInput call in FormField.tsx. The TypeScript error should now be resolved.
  resources/js/components/ApplicationWizard/components/FormField.tsx
Due: eslint, typescript-check, prettier, frontend-tests

Done! ✅ SSB employer option is now re-enabled. The option will appear normally without the "Coming soon" label and greyed-out styling
  resources/js/components/ApplicationWizard/steps/EmployerSelection.tsx
Due: eslint, typescript-check, prettier, frontend-tests

Access: Admin Panel → Communications → Customer Management
  app/Filament/Resources/CustomerManagementResource.php
  app/Filament/Resources/CustomerManagementResource/Pages/CreateCustomerManagement.php
  app/Filament/Resources/CustomerManagementResource/Pages/EditCustomerManagement.php
  app/Filament/Resources/CustomerManagementResource/Pages/ListCustomerManagement.php
  app/Filament/Resources/CustomerManagementResource/Pages/PreviewRecipients.php
  app/Filament/Resources/CustomerManagementResource/Pages/ReportsDownload.php
  app/Filament/Resources/CustomerManagementResource/Pages/ViewCustomerManagement.php
  app/Models/BulkSMSCampaign.php
  app/Services/CustomerManagementService.php
  database/migrations/2026_02_09_094000_create_bulk_sms_campaigns_table.php
  resources/views/filament/resources/customer-management-resource/pages/preview-recipients.blade.php
  resources/views/filament/resources/customer-management-resource/pages/reports-download.blade.php
Due: php-cs-fixer, phpstan, php-unit-tests, migration-check

M&E Applicants resource
  app/Filament/Resources/MEApplicantsResource.php
  app/Filament/Resources/MEApplicantsResource/Pages/ListMEApplicants.php
  app/Filament/Resources/MEApplicantsResource/Pages/ViewMEApplicant.php
Due: php-cs-fixer, phpstan, php-unit-tests

I have verified the SMS sending functionality with your topped-up account. The test message to 0779890173 was successfully sent.
  app/Contracts/SmsProviderInterface.php
  app/Jobs/SendOtpJob.php
  app/Providers/AppServiceProvider.php
  app/Services/CodelSmsService.php
  app/Services/SMSService.php
  app/Services/TwilioSmsService.php
  config/services.php
  final_sms_test.php
  routes/api.php
  test_output.txt
  test_sender_id_variations.php
Due: php-cs-fixer, phpstan, php-unit-tests, laravel-config-cache, laravel-route-cache

feat: Introduce application wizard for diverse loan/account forms, SMS/WhatsApp services, and PDF generation, removing outdated assets.
  DEVELOPER_HANDOFF.md
  FCB Individuals Report - BLESSING DUBE.pdf
  FCB Individuals Report.pdf
  WhatsApp Image 2026-01-26 at 14.33.49.jpeg
  WhatsApp Image 2026-01-26 at 15.10.35.jpeg
  app/Services/WhatsAppStateMachine.php
  resources/js/components/ApplicationWizard/forms/AccountHoldersLoanForm.tsx
  resources/js/components/ApplicationWizard/forms/RDCLoanForm.tsx
  resources/js/components/ApplicationWizard/forms/SMEBusinessForm.tsx
  resources/js/components/ApplicationWizard/forms/SSBLoanForm.tsx
  resources/js/components/ApplicationWizard/forms/ZBAccountOpeningForm.tsx
  resources/js/components/ApplicationWizard/steps/ApplicationSummary.tsx
  resources/views/forms/account_holders_pdf.blade.php
  resources/views/forms/zb_account_opening_pdf.blade.php
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests

removed the witness on account holder loan form.
  resources/views/forms/account_holders_pdf.blade.php
Due: php-cs-fixer, phpstan, php-unit-tests

added the note "Select an installment that is not more than 40% of your net salary (for zb account holders only)" to the Credit Term Selection screen.
  resources/js/components/ApplicationWizard/steps/CreditTermSelection.tsx
Due: eslint, typescript-check, prettier, frontend-tests

successfully restored PensionerLoanForm.tsx and resolved the import and type errors.
  resources/js/components/ApplicationWizard/forms/PensionerLoanForm.tsx
  resources/js/components/ApplicationWizard/steps/FormStep.tsx
Due: eslint, typescript-check, prettier, frontend-tests

completed the refactoring of all application flows and implemented the new resources as requested.
  app/Filament/Resources/AccountOpeningResource.php
  app/Filament/Resources/ApplicantDocumentsVerificationResource.php
  app/Filament/Resources/ApplicantDocumentsVerificationResource/Pages/ListApplicantDocumentsVerifications.php
  app/Filament/Resources/DocumentVerificationResource.php
  app/Filament/Resources/DocumentVerificationResource/Pages/ProcessApplication.php
  app/Filament/Resources/PaidDepositCreditsResource.php
  app/Filament/Resources/PaidDepositCreditsResource/Pages/ListPaidDepositCredits.php
  app/Http/Controllers/Api/StateController.php
  app/Http/Controllers/DepositPaymentController.php
  app/Services/ApplicationWorkflowService.php
  app/Services/PDFGeneratorService.php
  app/Services/PurchaseOrderService.php
  resources/views/forms/account_holders_pdf.blade.php
  resources/views/forms/ssb_form_pdf.blade.php
Due: php-cs-fixer, phpstan, php-unit-tests

removed the display text on the date time picker
  resources/js/components/ui/dial-datepicker.tsx
Due: eslint, typescript-check, prettier, frontend-tests

removed login option on registration step
  resources/js/components/ApplicationWizard/steps/RegistrationPrompt.tsx
Due: eslint, typescript-check, prettier, frontend-tests

products codes and migrations part 1
  MICROBIZ COSTINGS (1).xlsx
  app/Filament/Resources/InventoryManagementResource.php
  app/Filament/Resources/MicrobizPackageResource.php
  app/Filament/Resources/MicrobizPackageResource/Pages/CreateMicrobizPackage.php
  app/Filament/Resources/MicrobizPackageResource/Pages/EditMicrobizPackage.php
  app/Filament/Resources/MicrobizPackageResource/Pages/ListMicrobizPackages.php
  app/Filament/Resources/MicrobizPackageResource/Pages/ViewMicrobizPackage.php
  app/Filament/Resources/ProductCategoryResource.php
  app/Filament/Resources/ProductCategoryResource/Pages/CreateProductCategory.php
  app/Filament/Resources/ProductCategoryResource/Pages/EditProductCategory.php
  app/Filament/Resources/ProductCategoryResource/Pages/ListProductCategories.php
  app/Filament/Resources/ProductCategoryResource/Pages/ViewProductCategory.php
  app/Filament/Resources/ProductResource.php
  app/Filament/Resources/ProductResource/Pages/CreateProduct.php
  app/Filament/Resources/ProductResource/Pages/EditProduct.php
  app/Filament/Resources/ProductSeriesResource.php
  app/Filament/Resources/ProductSeriesResource/Pages/CreateProductSeries.php
  app/Filament/Resources/ProductSeriesResource/Pages/EditProductSeries.php
  app/Filament/Resources/ProductSeriesResource/Pages/ListProductSeries.php
  app/Filament/Resources/PurchaseOrderResource.php
  app/Filament/Resources/SupplierResource.php
  app/Filament/Resources/SupplierResource/Pages/CreateSupplier.php
  app/Filament/Resources/SupplierResource/Pages/EditSupplier.php
  app/Filament/Resources/SupplierResource/Pages/ListSuppliers.php
  app/Filament/Resources/SupplierResource/Pages/ViewSupplier.php
  app/Filament/Widgets/QuickActionsWidget.php
  app/Models/MicrobizPackage.php
  app/Models/PackageProduct.php
  app/Models/Product.php
  app/Models/Supplier.php
  app/Services/PurchaseOrderService.php
  database/migrations/2026_02_16_140000_add_product_code_and_supplier_to_products_table.php
  database/migrations/2026_02_16_140100_create_microbiz_packages_table.php
  database/migrations/2026_02_16_140200_create_package_products_table.php
  database/seeders/HirePurchaseSeeder.php
  database/seeders/PersonalProductsSeeder.php
  database/seeders/ProductCatalogSeeder.php
  resources/js/components/ApplicationWizard/steps/ProductSelection.tsx
  resources/js/services/productService.ts
  ~$MICROBIZ COSTINGS (1).xlsx
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests, migration-check

MicroBiz is now fully separated from Hire Purchase with its own tables, models, and admin resources. product doe implementation part 2
  app/Filament/Resources/InventoryManagementResource.php
  app/Filament/Resources/MicrobizBusinessResource.php
  app/Filament/Resources/MicrobizBusinessResource/Pages/CreateMicrobizBusiness.php
  app/Filament/Resources/MicrobizBusinessResource/Pages/EditMicrobizBusiness.php
  app/Filament/Resources/MicrobizBusinessResource/Pages/ListMicrobizBusinesses.php
  app/Filament/Resources/MicrobizBusinessResource/Pages/ViewMicrobizBusiness.php
  app/Filament/Resources/MicrobizPackageResource.php
  app/Http/Controllers/Api/ProductController.php
  app/Models/MicrobizCategory.php
  app/Models/MicrobizItem.php
  app/Models/MicrobizPackage.php
  app/Models/MicrobizSubcategory.php
  app/Models/MicrobizTierItem.php
  app/Models/PackageProduct.php
  app/Models/Product.php
  app/Models/Supplier.php
  database/migrations/2026_02_17_140000_create_microbiz_business_tables.php
  database/seeders/MicrobizBusinessSeeder.php
Due: php-cs-fixer, phpstan, php-unit-tests, migration-check

Product Restructuring part 3
  app/Filament/Resources/InventoryManagementResource.php
  app/Filament/Resources/ServicePackageResource.php
  app/Filament/Resources/ServicePackageResource/Pages/CreateServicePackage.php
  app/Filament/Resources/ServicePackageResource/Pages/EditServicePackage.php
  app/Filament/Resources/ServicePackageResource/Pages/ListServicePackages.php
  app/Filament/Resources/ServicePackageResource/Pages/ViewServicePackage.php
  app/Filament/Resources/ServiceTierResource.php
  app/Filament/Resources/ServiceTierResource/Pages/CreateServiceTier.php
  app/Filament/Resources/ServiceTierResource/Pages/EditServiceTier.php
  app/Filament/Resources/ServiceTierResource/Pages/ListServiceTiers.php
  app/Filament/Resources/ServiceTierResource/Pages/ViewServiceTier.php
  app/Http/Controllers/Api/ProductController.php
  app/Models/MicrobizCategory.php
  app/Models/MicrobizItem.php
  app/Models/MicrobizPackage.php
  app/Models/MicrobizSubcategory.php
  app/Models/MicrobizTierItem.php
  app/Models/Product.php
  database/migrations/2026_02_19_080000_add_domain_specification_and_transport.php
  database/seeders/ServicePackageSeeder.php
  database/seeders/SupplierSeeder.php
  public/uploads/products/01KHTD5SFK4G3FEP44EPZ7KJGY.jpg
Due: php-cs-fixer, phpstan, php-unit-tests, migration-check

chicken seeder part 2
  database/seeders/MicrobizBusinessSeeder.php
Due: php-cs-fixer, phpstan, php-unit-tests

've fixed the MicrobizLayersProjectSeeder and MicrobizChickenProjectSeeder.
  database/seeders/MicrobizChickenProjectSeeder.php
  database/seeders/MicrobizLayersProjectSeeder.php
Due: php-cs-fixer, phpstan, php-unit-tests

1. Fixed "Layers" Visibility The "Layers" subcategory was previously hidden because it wasn't included in the frontend's keyword filter for MicroBiz.
  app/Filament/Widgets/QuickActionsWidget.php
  database/seeders/MicrobizChickenProjectSeeder.php
  database/seeders/MicrobizLayersProjectSeeder.php
  resources/js/components/ApplicationWizard/data/packageDescriptions.ts
  resources/js/components/ApplicationWizard/steps/ProductSelection.tsx
  seed_debug.txt
  seed_execution.txt
  seed_final_output.txt
  seed_output.txt
  tests/Scripts/debug_layers_seeder.php
  tests/Scripts/verify_gold_prices.php
  tests/Scripts/verify_layers_data.php
  verify_output.txt
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests

Monthly Instalment:- Showing the monthly payment. TOTAL:- Showing the overall gross loan amount.
  resources/views/forms/account_holders_pdf.blade.php
  resources/views/forms/ssb_form_pdf.blade.php
Due: php-cs-fixer, phpstan, php-unit-tests

I've now updated all three tables:
  app/Http/Controllers/Api/ProductController.php
  database/seeders/ProductCatalogSeeder.php
  resources/js/components/ApplicationWizard/steps/ProductSelection.tsx
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests

Features:
  app/Filament/Resources/MicrobizCategoryResource.php
  app/Filament/Resources/MicrobizCategoryResource/Pages/CreateMicrobizCategory.php
  app/Filament/Resources/MicrobizCategoryResource/Pages/EditMicrobizCategory.php
  app/Filament/Resources/MicrobizCategoryResource/Pages/ListMicrobizCategories.php
Due: php-cs-fixer, phpstan, php-unit-tests

Path conditions:
  php-cs-fixer: any of: \.php$
  phpstan: any of: \.php$
  php-unit-tests: any of: \.php$
  php-security-check: any of: composer\.lock$
  eslint: any of: \.(js|jsx|ts|tsx)$
  typescript-check: any of: \.(ts|tsx)$
  prettier: any of: \.(js|jsx|ts|tsx|json|css|scss|md)$
  frontend-tests: any of: \.(js|jsx|ts|tsx)$
  migration-check: any of: database/migrations/.*\.php$
  env-check: any of: \.env\.example$
  composer-validate: any of: composer\.json$
  composer-normalize: any of: composer\.json$
  npm-audit: any of: package\.json$
  npm-outdated: any of: package\.json$
  laravel-config-cache: any of: config/.*\.php$
  laravel-route-cache: any of: routes/.*\.php$
  performance-test: any of: tests/Performance/.*\.php$
