Repository BANCOZIM-HOLDINGS-PVT-LTD/zb-bancosystem: changes, and which pre-commit hooks are due for each by the changed paths.
All: php-cs-fixer, phpstan, php-unit-tests, php-security-check, eslint, typescript-check, prettier, frontend-tests, migration-check, env-check, composer-validate, composer-normalize, npm-audit, npm-outdated, laravel-config-cache, laravel-route-cache, performance-test

Path conditions:
  php-cs-fixer: any of: \.php$
  phpstan: any of: \.php$
  php-unit-tests: any of: \.php$
  php-security-check: any of: composer\.lock$
  eslint: any of: \.(js|jsx|ts|tsx)$
  typescript-check: any of: \.(ts|tsx)$
  prettier: any of: \.(js|jsx|ts|tsx|json|css|scss|md)$
  frontend-tests: any of: \.(js|jsx|ts|tsx)$
  migration-check: any of: database/migrations/.*\.php$
  env-check: any of: \.env\.example$
  composer-validate: any of: composer\.json$
  composer-normalize: any of: composer\.json$
  npm-audit: any of: package\.json$
  npm-outdated: any of: package\.json$
  laravel-config-cache: any of: config/.*\.php$
  laravel-route-cache: any of: routes/.*\.php$
  performance-test: any of: tests/Performance/.*\.php$

Refactor employer flows, rebrand packages, and enhance registration UI
  database/seeders/PersonalProductsSeeder.php
  database/seeders/ProductCatalogSeeder.php
  resources/js/components/ApplicationWizard/data/councils.ts
  resources/js/components/ApplicationWizard/data/securityCompanies.ts
  resources/js/components/ApplicationWizard/forms/AccountHoldersLoanForm.tsx
  resources/js/components/ApplicationWizard/forms/RDCLoanForm.tsx
  resources/js/components/ApplicationWizard/forms/ZBAccountOpeningForm.tsx
  resources/js/components/ApplicationWizard/steps/AccountVerification.tsx
  resources/js/components/ApplicationWizard/steps/ApplicationSummary.tsx
  resources/js/components/ApplicationWizard/steps/DeliverySelection.tsx
  resources/js/components/ApplicationWizard/steps/EmployerSelection.tsx
  resources/js/components/ApplicationWizard/steps/FormStep.tsx
  resources/js/components/ApplicationWizard/steps/ProductSelection.tsx
  resources/js/components/ui/country-code-select.tsx
  resources/js/data/countryCodes.ts
  resources/js/pages/auth/client-register.tsx
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests

feat: finalize form refinements and fix loan duration logic
  app/Http/Controllers/CashPurchaseController.php
  app/Services/PaynowService.php
  composer.json
  composer.lock
  database/migrations/2025_12_11_114833_add_product_serial_number_to_delivery_trackings_table.php
  logs_final.txt
  resources/js/components/ApplicationWizard/ApplicationWizard.tsx
  resources/js/components/ApplicationWizard/forms/AccountHoldersLoanForm.tsx
  resources/js/components/ApplicationWizard/forms/RDCLoanForm.tsx
  resources/js/components/ApplicationWizard/forms/SMEBusinessForm.tsx
  resources/js/components/ApplicationWizard/forms/SSBLoanForm.tsx
  resources/js/components/ApplicationWizard/forms/ZBAccountOpeningForm.tsx
  resources/js/components/ApplicationWizard/steps/AccountVerification.tsx
  resources/js/components/ApplicationWizard/steps/DeliverySelection.tsx
  resources/js/components/CashPurchase/CashPurchaseWizard.tsx
  resources/js/components/CashPurchase/steps/CheckoutStep.tsx
  resources/js/components/CashPurchase/steps/DeliveryStep.tsx
  resources/js/pages/auth/client-register.tsx
  temp_fly_logs.txt
Due: php-cs-fixer, phpstan, php-unit-tests, php-security-check, eslint, typescript-check, prettier, frontend-tests, migration-check, composer-validate, composer-normalize

Implemented currency selection for users to be able to pay with ZIG
  app/Http/Controllers/ApplicationWizardController.php
  app/Http/Controllers/CashPurchaseController.php
  app/Services/WhatsAppConversationService.php
  composer.phar
  package-lock.json
  resources/js/components/ApplicationWizard/ApplicationWizard.tsx
  resources/js/components/ApplicationWizard/forms/AccountHoldersLoanForm.tsx
  resources/js/components/ApplicationWizard/forms/RDCLoanForm.tsx
  resources/js/components/ApplicationWizard/forms/SMEBusinessForm.tsx
  resources/js/components/ApplicationWizard/forms/SSBLoanForm.tsx
  resources/js/components/ApplicationWizard/forms/ZBAccountOpeningForm.tsx
  resources/js/components/ApplicationWizard/steps/ProductSelection.tsx
  resources/js/components/CashPurchase/CashPurchaseWizard.tsx
  resources/js/components/CashPurchase/steps/CatalogueStep.tsx
  resources/js/pages/CashPurchase.tsx
  resources/js/pages/welcome.tsx
  resources/js/services/productService.ts
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests

cash purchases carting system
  app/Http/Controllers/CashPurchaseController.php
  app/Models/CashPurchase.php
  app/Models/CashPurchaseItem.php
  database/migrations/2025_12_17_081701_create_cash_purchase_items_table.php
  database/migrations/2025_12_17_082026_update_cash_purchases_for_cart.php
  resources/js/components/CashPurchase/CashPurchaseWizard.tsx
  resources/js/components/CashPurchase/steps/CatalogueStep.tsx
  resources/js/components/CashPurchase/steps/CheckoutStep.tsx
  resources/js/components/CashPurchase/steps/DeliveryStep.tsx
  resources/js/components/CashPurchase/steps/SummaryStep.tsx
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests, migration-check

Add Construction category with Core House, Durawall, Gate/Fencing subcategories
  app/Http/Controllers/Api/ProductController.php
  database/migrations/2025_12_20_100000_add_description_to_products_table.php
  database/migrations/2025_12_20_110000_add_interior_exterior_colors_to_products_table.php
  database/seeders/HirePurchaseSeeder.php
  database/seeders/PersonalProductsSeeder.php
  resources/js/components/ApplicationWizard/ApplicationWizard.tsx
  resources/js/components/ApplicationWizard/steps/AccountVerification.tsx
  resources/js/components/ApplicationWizard/steps/CreditTypeSelection.tsx
  resources/js/components/ApplicationWizard/steps/ProductSelection.tsx
  resources/js/components/ApplicationWizard/utils/validation.ts
  resources/js/components/CashPurchase/CashPurchaseWizard.tsx
  resources/js/components/CashPurchase/steps/CatalogueStep.tsx
  resources/js/components/CashPurchase/steps/SummaryStep.tsx
  resources/js/pages/welcome.tsx
  resources/js/services/productService.ts
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests, migration-check

fixed the cash purchases interface to look like the hire purchase interface
  app/Http/Controllers/Api/InvoiceSMSController.php
  app/Http/Controllers/WhatsAppWebhookController.php
  app/Services/RapiWhaService.php
  resources/js/components/ApplicationWizard/ApplicationWizard.tsx
  resources/js/components/ApplicationWizard/steps/ApplicationSummary.tsx
  resources/js/components/CashPurchase/CashPurchaseWizard.tsx
  resources/js/components/CashPurchase/steps/CatalogueStep.tsx
  resources/js/components/CashPurchase/steps/CheckoutStep.tsx
  resources/views/forms/zb_account_opening_pdf.blade.php
  routes/api.php
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests, laravel-route-cache

User registration with phone number only and Id number to be collected on forms and on cash details for cash purchases.
  app/Http/Controllers/Api/StateController.php
  app/Http/Controllers/Auth/ClientRegisterController.php
  app/Http/Controllers/CashPurchaseController.php
  database/migrations/2026_01_13_000000_make_national_id_nullable_in_users_table.php
  resources/js/pages/auth/client-register.tsx
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests, migration-check

Refactor Agricultural Inputs & Separation of Broiler Production
  app/Http/Controllers/Api/ProductController.php
  database/migrations/2025_11_15_213027_add_type_to_product_categories_table.php
  database/seeders/HirePurchaseSeeder.php
  database/seeders/PersonalProductsSeeder.php
  database/seeders/ProductCatalogSeeder.php
  resources/js/components/ApplicationWizard/steps/ProductSelection.tsx
  resources/js/components/CashPurchase/CashPurchaseWizard.tsx
  resources/js/components/CashPurchase/steps/CatalogueStep.tsx
  resources/js/pages/CashPurchase.tsx
  resources/js/pages/welcome.tsx
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests, migration-check

Business registration steps completed.
  database/seeders/PersonalProductsSeeder.php
  database/seeders/ProductCatalogSeeder.php
  resources/js/components/ApplicationWizard/ApplicationWizard.tsx
  resources/js/components/ApplicationWizard/steps/CompanyRegistrationStep.tsx
  resources/js/components/ApplicationWizard/steps/CreditTermSelection.tsx
  resources/js/components/ApplicationWizard/steps/ProductSelection.tsx
  resources/js/components/CashPurchase/CashPurchaseWizard.tsx
  resources/js/components/CashPurchase/steps/CatalogueStep.tsx
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests

Driving License flow completed
  database/seeders/ProductCatalogSeeder.php
  resources/js/components/ApplicationWizard/ApplicationWizard.tsx
  resources/js/components/ApplicationWizard/steps/LicenseCoursesStep.tsx
  resources/js/components/ApplicationWizard/steps/ProductSelection.tsx
  resources/js/components/ApplicationWizard/utils/validation.ts
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests

zimparks booking holiday flow updated completely
  database/seeders/PersonalProductsSeeder.php
  resources/js/components/ApplicationWizard/ApplicationWizard.tsx
  resources/js/components/ApplicationWizard/steps/ApplicationSummary.tsx
  resources/js/components/ApplicationWizard/steps/CreditTermSelection.tsx
  resources/js/components/ApplicationWizard/steps/ProductSelection.tsx
  resources/js/components/ApplicationWizard/steps/ZimparksHolidayStep.tsx
  resources/js/components/ApplicationWizard/utils/validation.ts
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests

whatsapp business api successfully implemented
  .env.example
  app/Http/Controllers/WhatsAppWebhookController.php
  app/Services/WhatsAppCloudApiService.php
  app/Services/WhatsAppConversationService.php
  app/Services/WhatsAppStateMachine.php
  config/services.php
  database/seeders/ProductCatalogSeeder.php
  public/privacy-policy.html
  routes/api.php
Due: php-cs-fixer, phpstan, php-unit-tests, env-check, laravel-config-cache, laravel-route-cache

whatsapp business convesation set and deployed beautifully
  app/Services/StateManager.php
  app/Services/WhatsAppConversationService.php
  app/Services/WhatsAppStateMachine.php
  resources/js/components/ApplicationWizard/steps/LicenseCoursesStep.tsx
  resources/js/pages/welcome.tsx
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests

Added footer, added home construction flow, added registration after delivery step successfully and Paid deposit credits are now being paid after loan application has been successful
  app/Http/Controllers/ApplicationWizardController.php
  app/Http/Controllers/Auth/ClientRegisterController.php
  app/Http/Controllers/CashPurchaseController.php
  app/Http/Controllers/DepositPaymentController.php
  app/Http/Controllers/PendingApplicationController.php
  app/Models/ApplicationState.php
  database/migrations/2026_01_16_235115_add_deposit_payment_fields_to_application_states.php
  database/seeders/PersonalProductsSeeder.php
  resources/js/components/ApplicationWizard/ApplicationWizard.tsx
  resources/js/components/ApplicationWizard/steps/ApplicationSummary.tsx
  resources/js/components/ApplicationWizard/steps/ConstructionDetailsStep.tsx
  resources/js/components/ApplicationWizard/steps/CreditTermSelection.tsx
  resources/js/components/ApplicationWizard/steps/CreditTypeSelection.tsx
  resources/js/components/ApplicationWizard/steps/HousePlanApprovalStep.tsx
  resources/js/components/ApplicationWizard/steps/ProductSelection.tsx
  resources/js/components/ApplicationWizard/steps/RegistrationPrompt.tsx
  resources/js/components/CashPurchase/CashPurchaseWizard.tsx
  resources/js/components/CashPurchase/steps/RegistrationPrompt.tsx
  resources/js/components/Footer.tsx
  resources/js/pages/ApplicationStatus.tsx
  resources/js/pages/ApplicationSuccess.tsx
  resources/js/pages/ApplicationWizard.tsx
  resources/js/pages/CashPurchaseSuccess.tsx
  resources/js/pages/DeliveryTracking.tsx
  resources/js/pages/welcome.tsx
  routes/api.php
  routes/web.php
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests, migration-check, laravel-route-cache

whatsapp conversations with buttons successfully implemented
  Dockerfile
  app/Http/Controllers/WhatsAppWebhookController.php
  app/Services/StateManager.php
  app/Services/WhatsAppCloudApiService.php
  app/Services/WhatsAppStateMachine.php
  docker/entrypoint.sh
Due: php-cs-fixer, phpstan, php-unit-tests

whatsapp conversation done and dusted
  app/Http/Controllers/Api/ProductController.php
  app/Http/Requests/SaveApplicationStateRequest.php
  app/Services/StateManager.php
  app/Services/WhatsAppConversationService.php
  app/Services/WhatsAppStateMachine.php
  database/seeders/HirePurchaseSeeder.php
  database/seeders/PersonalProductsSeeder.php
  database/seeders/ProductCatalogSeeder.php
  docker/entrypoint.sh
  resources/js/components/ApplicationWizard/steps/RegistrationPrompt.tsx
  resources/js/components/Footer.tsx
  resources/js/pages/welcome.tsx
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests

1. Agent Applications Now Save to Correct Table When a user completes the agent application flow (submits EcoCash number), their data is now saved to the AgentApplication table:
  app/Filament/Resources/AgentApplicationResource.php
  app/Filament/Resources/ApplicationResource.php
  app/Services/WhatsAppStateMachine.php
Due: php-cs-fixer, phpstan, php-unit-tests

fixed the global css for mobile view
  resources/js/components/ApplicationWizard/ApplicationWizard.tsx
  resources/js/components/ApplicationWizard/steps/CompanyRegistrationStep.tsx
  resources/js/components/ApplicationWizard/steps/ConstructionDetailsStep.tsx
  resources/js/components/ApplicationWizard/steps/CreditTermSelection.tsx
  resources/js/components/ApplicationWizard/steps/HousePlanApprovalStep.tsx
  resources/js/components/ApplicationWizard/steps/LicenseCoursesStep.tsx
  resources/js/components/CashPurchase/steps/CheckoutStep.tsx
  resources/js/components/CashPurchase/steps/DeliveryStep.tsx
  resources/js/components/CashPurchase/steps/SummaryStep.tsx
Due: eslint, typescript-check, prettier, frontend-tests

resolved the loan application view error 500 and changes the naming and titles in whatsapp bot as per request
  app/Filament/Resources/ApplicationResource.php
  app/Services/WhatsAppStateMachine.php
Due: php-cs-fixer, phpstan, php-unit-tests

fixed footer location and emails
  app/Services/WhatsAppStateMachine.php
  resources/js/components/Footer.tsx
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests

application is submitting successfully calling the correct reference number
  app/Filament/Resources/CashPurchaseResource.php
  app/Filament/Resources/DeliveryTrackingResource.php
  app/Http/Controllers/CashPurchaseController.php
  app/Http/Controllers/DeliveryTrackingController.php
  app/Models/CashPurchase.php
  app/Services/ApplicationWorkflowService.php
  app/Services/DeliveryEstimatorService.php
  app/Services/SSBStatusService.php
  app/Services/ZBStatusService.php
  resources/js/components/ApplicationWizard/ApplicationWizard.tsx
  resources/js/components/ApplicationWizard/steps/DeliverySelection.tsx
  resources/js/components/ApplicationWizard/steps/ProductSelection.tsx
  resources/js/components/CashPurchase/CashPurchaseWizard.tsx
  resources/js/components/CashPurchase/steps/DeliveryStep.tsx
  resources/js/components/DocumentUpload/DocumentUploadStep.tsx
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests

FIXED AGENT SUCCESS MESSAGE AND AGENT LOGIN PORTAL
  app/Http/Controllers/WhatsAppWebhookController.php
  app/Services/WhatsAppStateMachine.php
  resources/js/pages/agent/Login.tsx
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests

consistent branding of images and bancosystem twilio sms display name
  app/Filament/Resources/AgentApplicationResource.php
  app/Services/OtpService.php
  app/Services/TwilioSmsService.php
  config/app.php
  config/logging.php
  config/services.php
  public/adala.jpg
  resources/views/admin/portal.blade.php
Due: php-cs-fixer, phpstan, php-unit-tests, laravel-config-cache

All 7 occurrences have been updated of the adala icon that was still remaining. now we have the updated one done
  app/Providers/Filament/AdminPanelProvider.php
  app/Providers/Filament/AgentPanelProvider.php
  resources/views/admin/portal.blade.php
  resources/views/app.blade.php
Due: php-cs-fixer, phpstan, php-unit-tests

seperation of account opening and account holders part 1
  app/Exports/SSBLoanExport.php
  app/Exports/ZBLoanExport.php
  app/Filament/Resources/AccountOpeningResource.php
  app/Filament/Resources/AccountOpeningResource/Pages/ListAccountOpenings.php
  app/Filament/Resources/AccountOpeningResource/Pages/ViewAccountOpening.php
  app/Filament/Resources/ApplicationResource.php
  app/Filament/Resources/HolidayBookingResource.php
  app/Filament/Resources/HolidayBookingResource/Pages/EditHolidayBooking.php
  app/Filament/Resources/HolidayBookingResource/Pages/ListHolidayBookings.php
  app/Filament/Resources/HolidayBookingResource/Pages/ViewHolidayBooking.php
  app/Filament/Resources/PersonalServiceResource.php
  app/Filament/Resources/PersonalServiceResource/Pages/EditPersonalService.php
  app/Filament/Resources/PersonalServiceResource/Pages/ListPersonalServices.php
  app/Filament/Resources/PersonalServiceResource/Pages/ViewPersonalService.php
  app/Filament/Stores/Resources/PersonalServiceResource.php
  app/Filament/Stores/Resources/PersonalServiceResource/Pages/ListPersonalServices.php
  app/Filament/Stores/Resources/PersonalServiceResource/Pages/ViewPersonalService.php
  app/Filament/ZbAdmin/Resources/AccountOpeningResource.php
  app/Filament/ZbAdmin/Resources/AccountOpeningResource/Pages/ListAccountOpenings.php
  app/Filament/ZbAdmin/Resources/AccountOpeningResource/Pages/ViewAccountOpening.php
  app/Filament/ZbAdmin/Resources/HolidayBookingResource.php
  app/Filament/ZbAdmin/Resources/HolidayBookingResource/Pages/CreateHolidayBooking.php
  app/Filament/ZbAdmin/Resources/HolidayBookingResource/Pages/EditHolidayBooking.php
  app/Filament/ZbAdmin/Resources/HolidayBookingResource/Pages/ListHolidayBookings.php
  app/Filament/ZbAdmin/Resources/PersonalServiceResource.php
  app/Filament/ZbAdmin/Resources/PersonalServiceResource/Pages/ListPersonalServices.php
  app/Filament/ZbAdmin/Resources/PersonalServiceResource/Pages/ViewPersonalService.php
  app/Filament/ZbAdmin/Resources/ZbApplicationResource.php
  app/Models/AccountOpening.php
  app/Models/HolidayBooking.php
  app/Models/PersonalService.php
  app/Observers/ApplicationStateObserver.php
  app/Providers/AppServiceProvider.php
  app/Services/AccountOpeningService.php
  database/migrations/2026_01_23_080000_create_account_openings_table.php
  database/migrations/2026_01_23_080001_rename_holiday_bookings_to_personal_services.php
Due: php-cs-fixer, phpstan, php-unit-tests, migration-check

seperation of account openening part 2, everyhting works except for submit application.
  app/Filament/ZbAdmin/Resources/SsbLoanResource.php
  app/Filament/ZbAdmin/Resources/SsbLoanResource/Pages/ListSsbLoans.php
  app/Filament/ZbAdmin/Resources/SsbLoanResource/Pages/ViewSsbLoan.php
  app/Filament/ZbAdmin/Widgets/PendingZBApprovalsWidget.php
  app/Http/Controllers/ApplicationPDFController.php
  app/Http/Controllers/ApplicationPDFController_addition.php
  app/Observers/ApplicationStateObserver.php
  app/Services/EcocashPaymentService.php
  app/Services/NotificationService.php
  app/Services/PDFGeneratorService.php
  database/seeders/TestApplicationsSeeder.php
  resources/js/components/ApplicationWizard/steps/AccountVerification.tsx
  routes/web.php
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests, laravel-route-cache

application submitting successfully
  app/Http/Controllers/Api/ReferenceCodeController.php
  app/Http/Controllers/Api/StateController.php
  app/Http/Requests/SaveApplicationStateRequest.php
  app/Services/EcocashPaymentService.php
  app/Services/ReferenceCodeService.php
  resources/js/components/ApplicationWizard/ApplicationWizard.tsx
  resources/js/components/ApplicationWizard/services/StateManager.ts
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests

account status showing in the user's profile and changed the whatsapp bot to show the url for tracking status and delivery
  app/Http/Controllers/ApplicationStatusController.php
  app/Services/WhatsAppStateMachine.php
  resources/js/pages/ApplicationStatus.tsx
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests

loan application button showing successfully
  app/Http/Controllers/ApplicationStatusController.php
  app/Http/Controllers/ApplicationWizardController.php
  resources/js/pages/ApplicationStatus.tsx
  routes/web.php
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests, laravel-route-cache

changed footer number
  resources/js/components/Footer.tsx
Due: eslint, typescript-check, prettier, frontend-tests

errounous changes last commit
  app/Http/Controllers/ApplicationWizardController.php
  app/Http/Requests/SaveApplicationStateRequest.php
  app/Jobs/SendOtpJob.php
  app/Services/OtpService.php
  app/Services/ZBStatusService.php
  composer.phar
  database/migrations/2026_01_24_104500_fix_personal_services_columns.php
  database/migrations/2026_01_24_112000_modify_courier_type_to_string.php
  resources/js/components/ApplicationWizard/ApplicationWizard.tsx
  resources/js/components/ApplicationWizard/services/StateManager.ts
  vite.config.ts
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests, migration-check

Fix critical bugs and implement new features
  app/Models/ApplicationState.php
  app/Models/DeliveryTracking.php
  app/Services/CommissionCalculationService.php
  app/Services/OtpService.php
  app/Services/PDFGeneratorService.php
  app/Services/StateManager.php
  database/migrations/2026_01_25_000001_add_last_activity_and_is_archived_to_application_states.php
  database/seeders/DatabaseSeeder.php
  resources/js/components/ApplicationWizard/forms/AccountHoldersLoanForm.tsx
  resources/js/components/ApplicationWizard/forms/FCBReportForm.tsx
  resources/views/filament/forms/components/application-data.blade.php
  resources/views/forms/account_holders_pdf.blade.php
  resources/views/forms/ssb_form_pdf.blade.php
  resources/views/forms/zb_account_opening_pdf.blade.php
  vite.config.ts
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests, migration-check

Fix CI: Set APP_KEY before composer install
  .github/workflows/ci-cd.yml
  .github/workflows/tests.yml
Due: none

modified date of employment, next of kin/spouse default logic, white bg on signature, EC number split logic, agree and continue buttons, joina city address logic
  app/Http/Controllers/ApplicationWizardController.php
  database/seeders/PersonalProductsSeeder.php
  database/seeders/ProductCatalogSeeder.php
  resources/js/components/ApplicationWizard/components/FormField.tsx
  resources/js/components/ApplicationWizard/forms/AccountHoldersLoanForm.tsx
  resources/js/components/ApplicationWizard/forms/FCBReportForm.tsx
  resources/js/components/ApplicationWizard/forms/RDCLoanForm.tsx
  resources/js/components/ApplicationWizard/forms/SMEBusinessForm.tsx
  resources/js/components/ApplicationWizard/forms/SSBLoanForm.tsx
  resources/js/components/ApplicationWizard/forms/ZBAccountOpeningForm.tsx
  resources/js/components/ApplicationWizard/steps/ProductSelection.tsx
  resources/js/components/DocumentUpload/DocumentUploadStep.tsx
  resources/js/components/Footer.tsx
  resources/js/components/ui/dial-datepicker.tsx
  resources/js/pages/ApplicationSuccess.tsx
  resources/js/pages/welcome.tsx
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests

updated the delivery step logic to handle the new deliveries
  resources/js/components/ApplicationWizard/steps/DeliverySelection.tsx
  resources/js/components/CashPurchase/steps/DeliveryStep.tsx
Due: eslint, typescript-check, prettier, frontend-tests

application success message logic
  app/Http/Controllers/ApplicationWizardController.php
  resources/js/pages/ApplicationSuccess.tsx
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests

placeholder fcb report
  FCB Individuals Report.pdf
  app/Services/FCBService.php
  app/Services/PDFGeneratorService.php
  resources/js/components/ApplicationWizard/forms/FCBReportForm.tsx
  resources/views/forms/account_holders_pdf.blade.php
  resources/views/reports/fcb_report.blade.php
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests

added manual document verification and fcb auto checks once approved.
  app/Filament/Resources/ApplicationResource.php
  app/Filament/Resources/CashPurchaseResource.php
  app/Filament/Resources/DeliveryTrackingResource.php
  app/Filament/Resources/DocumentVerificationResource.php
  app/Filament/Resources/DocumentVerificationResource/Pages/ListDocumentVerifications.php
  app/Filament/Resources/PersonalServiceResource.php
  app/Filament/ZbAdmin/Resources/ZbApplicationResource.php
  app/Http/Controllers/Api/StateController.php
  app/Services/AutomatedCheckService.php
  database/migrations/2026_01_26_094420_add_automated_check_columns_to_application_states.php
  resources/js/pages/ApplicationStatus.tsx
  resources/views/filament/forms/components/application-documents-list.blade.php
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests, migration-check

adding gurantor details to loan form on zb applications
  resources/js/components/ApplicationWizard/forms/AccountHoldersLoanForm.tsx
  resources/views/forms/account_holders_pdf.blade.php
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests
