Repository BANCOZIM-HOLDINGS-PVT-LTD/zb-bancosystem: changes, and which pre-commit hooks are due for each by the changed paths.
All: php-cs-fixer, phpstan, php-unit-tests, php-security-check, eslint, typescript-check, prettier, frontend-tests, migration-check, env-check, composer-validate, composer-normalize, npm-audit, npm-outdated, laravel-config-cache, laravel-route-cache, performance-test

Path conditions:
  php-cs-fixer: any of: \.php$
  phpstan: any of: \.php$
  php-unit-tests: any of: \.php$
  php-security-check: any of: composer\.lock$
  eslint: any of: \.(js|jsx|ts|tsx)$
  typescript-check: any of: \.(ts|tsx)$
  prettier: any of: \.(js|jsx|ts|tsx|json|css|scss|md)$
  frontend-tests: any of: \.(js|jsx|ts|tsx)$
  migration-check: any of: database/migrations/.*\.php$
  env-check: any of: \.env\.example$
  composer-validate: any of: composer\.json$
  composer-normalize: any of: composer\.json$
  npm-audit: any of: package\.json$
  npm-outdated: any of: package\.json$
  laravel-config-cache: any of: config/.*\.php$
  laravel-route-cache: any of: routes/.*\.php$
  performance-test: any of: tests/Performance/.*\.php$

Phase 2 CRM features are complete -- pay day reports.
  app/Console/Commands/SendLoanOfficerNotifications.php
  app/Console/Commands/SendPayDayReminders.php
  app/Filament/Pages/IncompleteRegistrations.php
  app/Filament/Pages/PayDayReport.php
  resources/js/components/ApplicationWizard/forms/AccountHoldersLoanForm.tsx
  resources/js/components/ApplicationWizard/forms/PensionerLoanForm.tsx
  resources/js/components/ApplicationWizard/forms/RDCLoanForm.tsx
  resources/js/components/ApplicationWizard/forms/SMEBusinessForm.tsx
  resources/js/components/ApplicationWizard/forms/SSBLoanForm.tsx
  resources/views/emails/pay-day-hold-notification.blade.php
  resources/views/filament/pages/incomplete-registrations.blade.php
  resources/views/filament/pages/pay-day-report.blade.php
  routes/console.php
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests, laravel-route-cache

refer to branch update
  app/Filament/ZbAdmin/Resources/SsbLoanResource.php
  app/Filament/ZbAdmin/Resources/ZbApplicationResource.php
  database/migrations/2026_02_25_132541_add_whatsapp_number_to_users_table.php
Due: php-cs-fixer, phpstan, php-unit-tests, migration-check

package remarks
  resources/js/components/ApplicationWizard/steps/ProductSelection.tsx
Due: eslint, typescript-check, prettier, frontend-tests

resume function implemented
  app/Http/Controllers/Api/StateController.php
  app/Http/Controllers/ApplicationWizardController.php
  app/Http/Controllers/Auth/ClientRegisterController.php
  app/Services/WhatsAppStateMachine.php
  remote_seeder_2.php
  resources/js/components/ApplicationWizard/ApplicationWizard.tsx
  resources/js/components/ApplicationWizard/forms/ZBAccountOpeningForm.tsx
  resources/js/components/ApplicationWizard/steps/RegistrationPrompt.tsx
  resources/js/pages/auth/client-register.tsx
  resources/js/pages/welcome.tsx
  routes/auth.php
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests, laravel-route-cache

Changes Made:
  app/Services/StateManager.php
  app/Services/WhatsAppCloudApiService.php
  app/Services/WhatsAppConversationService.php
  app/Services/WhatsAppStateMachine.php
Due: php-cs-fixer, phpstan, php-unit-tests

removed Ndau and Chichewa from the language selection
  app/Services/WhatsAppStateMachine.php
Due: php-cs-fixer, phpstan, php-unit-tests

Added missing imports (AgentActivityLog, AgentReward, Carbon) to AgentPortalController.php,
  app/Http/Controllers/AgentPortalController.php
Due: php-cs-fixer, phpstan, php-unit-tests

I've updated the Agent Portal, Admin Dashboard, and fixed the namespace issues that caused the initial failure
  app/Filament/Resources/AgentApplicationResource.php
  app/Filament/Resources/AgentResource.php
Due: php-cs-fixer, phpstan, php-unit-tests

Fix 500 error on commissions admin by completing polymorphic migration and schema correction
  app/Filament/Resources/CommissionResource.php
  app/Models/AgentApplication.php
  app/Models/Commission.php
  app/Providers/AppServiceProvider.php
  database/migrations/2026_03_26_141614_drop_foreign_key_from_commissions_agent_id.php
  resources/js/pages/agent/Dashboard.tsx
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests, migration-check

Reinstate supervisor comments for agents
  app/Filament/Resources/AgentApplicationResource.php
  app/Filament/Resources/AgentResource.php
  resources/js/components/ApplicationWizard/steps/CreditTermSelection.tsx
  resources/js/pages/agent/Dashboard.tsx
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests

Restrict proof of employment requirement to ZB account holders only
  app/Filament/Resources/DocumentVerificationResource.php
Due: php-cs-fixer, phpstan, php-unit-tests

Fix application prefix and routing logic for stage 1 doc verification
  app/Filament/Resources/DocumentVerificationResource.php
  app/Models/ApplicationState.php
Due: php-cs-fixer, phpstan, php-unit-tests

docs: add Application Workflow Overhaul implementation plan
  docs/APPLICATION_WORKFLOW_IMPLEMENTATION_PLAN.md
Due: prettier

roduct Image Coming Soon" placeholder placed done
  app/Http/Controllers/AgentPortalController.php
Due: php-cs-fixer, phpstan, php-unit-tests

Fix application workflow: manual processing flow and client status sync
  app/Filament/Resources/DocumentVerificationResource.php
  app/Filament/Resources/DocumentVerificationResource/Pages/ProcessApplication.php
  app/Filament/Resources/ProofVerificationResource.php
  app/Filament/Resources/ProofVerificationResource/Pages/ListProofVerifications.php
  app/Filament/ZbAdmin/Resources/ZbApplicationResource.php
  app/Http/Controllers/ApplicationStatusController.php
  app/Models/ApplicationState.php
  app/Services/StateManager.php
  resources/js/components/ApplicationResubmission.tsx
  resources/js/pages/ApplicationStatus.tsx
  routes/web.php
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests, laravel-route-cache

online agents to populate in the agents lists resource
  app/Filament/Resources/AgentApplicationResource.php
Due: php-cs-fixer, phpstan, php-unit-tests

Fix mass-assignment for online agents and map ecocash_number directly
  app/Filament/Resources/AgentApplicationResource.php
  app/Models/Agent.php
Due: php-cs-fixer, phpstan, php-unit-tests

feat: implement global loan term settings and dynamic repayment calculation in application wizard
  app/Filament/Resources/LoanTermsResource.php
  app/Http/Controllers/Api/ProductController.php
  app/Models/LoanTerm.php
  database/migrations/2026_04_14_080957_modify_loan_terms_for_global_settings.php
  resources/js/components/ApplicationWizard/steps/CreditTermSelection.tsx
  resources/js/components/ApplicationWizard/steps/ProductSelection.tsx
  resources/js/services/productService.ts
  routes/api.php
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests, migration-check, laravel-route-cache

Changes Made:
  app/Filament/Resources/MicrobizPackageResource.php
  app/Http/Controllers/Api/ProductController.php
  app/Models/MicrobizPackage.php
  database/migrations/2026_04_17_125631_add_image_url_to_microbiz_packages_table.php
  resources/js/components/ApplicationWizard/steps/ProductSelection.tsx
  resources/js/services/productService.ts
  resources/js/types/application.ts
  tier images/broiler full house.jpeg
  tier images/broiler lite pkg.jpeg
  tier images/broiler standard pkg.jpeg
  tier images/car wash full house.jpeg
  tier images/car wash lite.jpeg
  tier images/car wash standard pckg.jpeg
  tier images/mobile canteed project full house.jpeg
  tier images/video graphy and photography lite package.jpeg
  tier images/videograpgy and photography lite pckg.jpeg
  tier images/videography & photography standard package.jpeg
  tier images/videography and photography standard pckg.jpeg
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests, migration-check

changes to the image display size
  Dockerfile
  docker/entrypoint.sh
  resources/js/components/ApplicationWizard/steps/ProductSelection.tsx
Due: eslint, typescript-check, prettier, frontend-tests

payment part 1
  app/Http/Controllers/ApplicationWizardController.php
  app/Http/Controllers/DepositPaymentController.php
  app/Models/ApplicationState.php
  app/Services/StateManager.php
  database/migrations/2026_04_23_000000_add_payment_type_to_application_states.php
  resources/js/components/ApplicationWizard/ApplicationWizard.tsx
  resources/js/components/ApplicationWizard/steps/ApplicationSummary.tsx
  resources/js/components/ApplicationWizard/steps/DeliverySelection.tsx
  resources/js/components/ApplicationWizard/steps/PaymentStep.tsx
  resources/js/components/ApplicationWizard/steps/ProductSelection.tsx
  resources/js/components/ApplicationWizard/utils/validation.ts
  resources/js/pages/welcome.tsx
  routes/api.php
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests, migration-check, laravel-route-cache

Sprint 3: Implement Payment Reminders, Abandonment Job, Funnel Analytics, and Tiered UI improvements
  app/Filament/ZbAdmin/Widgets/FunnelAnalyticsWidget.php
  app/Jobs/SendAbandonmentReminderJob.php
  app/Models/PaymentReminder.php
  database/migrations/2026_04_25_095159_add_reminder_type_to_payment_reminders_table.php
  implementation_plan.md
  resources/js/components/ApplicationWizard/steps/ProductSelection.tsx
  routes/console.php
  tests/Feature/AbandonmentReminderTest.php
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests, migration-check, laravel-route-cache

Fix SME Booster category filtering and seed booster data
  resources/js/components/ApplicationWizard/steps/ProductSelection.tsx
Due: eslint, typescript-check, prettier, frontend-tests

Fix product price display issue in application wizard
  app/Http/Controllers/Api/ProductController.php
  app/Http/Controllers/DepositPaymentController.php
  app/Mail/ApplicationReceived.php
  app/Mail/ApplicationStatusUpdated.php
  app/Mail/PaymentReceipt.php
  app/Models/Product.php
  app/Services/AccountingService.php
  app/Services/DandemutandeMailService.php
  app/Services/NotificationService.php
  app/Services/SSBStatusService.php
  app/Services/ZBStatusService.php
  implementation_plan.md
  resources/js/components/ApplicationWizard/steps/ProductSelection.tsx
  resources/js/pages/auth/verify-otp.tsx
  resources/js/utils/zimbabwean-id-validator.ts
  resources/views/emails/application-received.blade.php
  resources/views/emails/payment-receipt.blade.php
  resources/views/emails/status-updated.blade.php
  routes/api.php
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests, laravel-route-cache

ZB Account Number Validation — implemented across all loan forms
  resources/js/components/ApplicationWizard/forms/AccountHoldersLoanForm.tsx
  resources/js/components/ApplicationWizard/forms/PensionerLoanForm.tsx
  resources/js/components/ApplicationWizard/forms/RDCLoanForm.tsx
  resources/js/components/ApplicationWizard/forms/SSBLoanForm.tsx
  resources/js/components/ApplicationWizard/utils/validation.ts
Due: eslint, typescript-check, prettier, frontend-tests

Form Progress Saving — implemented across all loan forms
  resources/js/components/ApplicationWizard/ApplicationWizard.tsx
  resources/js/components/ApplicationWizard/forms/AccountHoldersLoanForm.tsx
  resources/js/components/ApplicationWizard/forms/PensionerLoanForm.tsx
  resources/js/components/ApplicationWizard/forms/RDCLoanForm.tsx
  resources/js/components/ApplicationWizard/forms/SMEBusinessForm.tsx
  resources/js/components/ApplicationWizard/forms/SSBLoanForm.tsx
  resources/js/components/ApplicationWizard/forms/ZBAccountOpeningForm.tsx
  resources/js/components/ApplicationWizard/steps/FormStep.tsx
Due: eslint, typescript-check, prettier, frontend-tests

validation.ts - zbAccountNumber now takes a currency parameter (default 'USD'). USD requires index 12 = '4'; ZiG requires index 12 = '2'.
  app/Filament/Pages/CacheManager.php
  app/Filament/Pages/MaintenanceMode.php
  app/Filament/Pages/QueueMonitor.php
  app/Filament/Pages/SystemLogs.php
  resources/js/components/ApplicationWizard/forms/AccountHoldersLoanForm.tsx
  resources/js/components/ApplicationWizard/forms/PensionerLoanForm.tsx
  resources/js/components/ApplicationWizard/forms/RDCLoanForm.tsx
  resources/js/components/ApplicationWizard/forms/SSBLoanForm.tsx
  resources/js/components/ApplicationWizard/utils/validation.ts
  resources/views/filament/pages/cache-manager.blade.php
  resources/views/filament/pages/maintenance-mode.blade.php
  resources/views/filament/pages/queue-monitor.blade.php
  resources/views/filament/pages/system-logs.blade.php
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests

ProductController.php (API) — both places that build the scales array now use $package->remarks for the remarks key (previously was incorrectly using $package->description).
  app/Filament/Resources/MicrobizPackageResource.php
  app/Http/Controllers/Api/ProductController.php
  app/Models/MicrobizPackage.php
  database/migrations/2026_05_19_070721_add_remarks_to_microbiz_packages_table.php
Due: php-cs-fixer, phpstan, php-unit-tests, migration-check

Routes are registered and loading cleanly. Here's a summary of everything built:
  app/Filament/Resources/CashOrderResource.php
  app/Filament/Resources/CashOrderResource/Pages/ListCashOrders.php
  app/Filament/Resources/CashOrderResource/Pages/ViewCashOrder.php
  app/Http/Controllers/CashPaymentController.php
Due: php-cs-fixer, phpstan, php-unit-tests

Agent Application — ID image now displays properly
  app/Filament/Resources/DocumentVerificationResource.php
  app/Http/Controllers/AgentMediaController.php
  app/Http/Controllers/WhatsAppWebhookController.php
  resources/views/filament/modals/agent-id-documents.blade.php
  resources/views/filament/modals/application-documents.blade.php
  routes/web.php
Due: php-cs-fixer, phpstan, php-unit-tests, laravel-route-cache

All clean. The root cause was two things in the original resource that could throw during page load:
  app/Filament/Resources/CashOrderResource.php
  app/Filament/Resources/CashOrderResource/Pages/ListCashOrders.php
Due: php-cs-fixer, phpstan, php-unit-tests

All six outbound SMS strings now say Microbiz:
  app/Filament/Resources/PaidDepositCreditsResource.php
  app/Http/Controllers/DepositPaymentController.php
  app/Models/DeliveryTracking.php
  app/Services/NotificationService.php
Due: php-cs-fixer, phpstan, php-unit-tests

Now update the actual package name values in the database (all records with tier = 'gold' currently say "Gold Package"):
  .claude/settings.local.json
  app/Filament/Resources/BoosterBusinessResource.php
  app/Filament/Resources/BoosterBusinessResource/Pages/CreateBoosterBusiness.php
  app/Filament/Resources/BoosterBusinessResource/Pages/EditBoosterBusiness.php
  app/Filament/Resources/BoosterBusinessResource/Pages/ListBoosterBusinesses.php
  app/Filament/Resources/BoosterCategoryResource.php
  app/Filament/Resources/BoosterCategoryResource/Pages/CreateBoosterCategory.php
  app/Filament/Resources/BoosterCategoryResource/Pages/EditBoosterCategory.php
  app/Filament/Resources/BoosterCategoryResource/Pages/ListBoosterCategories.php
  app/Filament/Resources/BoosterItemResource.php
  app/Filament/Resources/BoosterItemResource/Pages/CreateBoosterItem.php
  app/Filament/Resources/BoosterItemResource/Pages/EditBoosterItem.php
  app/Filament/Resources/BoosterItemResource/Pages/ListBoosterItems.php
  app/Filament/Resources/BoosterPackageResource.php
  app/Filament/Resources/BoosterPackageResource/Pages/CreateBoosterPackage.php
  app/Filament/Resources/BoosterPackageResource/Pages/EditBoosterPackage.php
  app/Filament/Resources/BoosterPackageResource/Pages/ListBoosterPackages.php
  app/Filament/Resources/BoosterPackageResource/Pages/ViewBoosterPackage.php
  app/Filament/Resources/MicrobizPackageResource.php
  app/Http/Controllers/Api/ProductController.php
  app/Models/BoosterPackage.php
  app/Models/MicrobizPackage.php
  database/seeders/BoosterPackageSeeder.php
Due: php-cs-fixer, phpstan, php-unit-tests, prettier

Build succeeded (the warning is just chunk-size advisory, not an error). Here's the complete summary of everything built: --- What was built
  app/Filament/Resources/SchoolBusinessResource.php
  app/Filament/Resources/SchoolBusinessResource/Pages/CreateSchoolBusiness.php
  app/Filament/Resources/SchoolBusinessResource/Pages/EditSchoolBusiness.php
  app/Filament/Resources/SchoolBusinessResource/Pages/ListSchoolBusinesses.php
  app/Filament/Resources/SchoolCategoryResource.php
  app/Filament/Resources/SchoolCategoryResource/Pages/CreateSchoolCategory.php
  app/Filament/Resources/SchoolCategoryResource/Pages/EditSchoolCategory.php
  app/Filament/Resources/SchoolCategoryResource/Pages/ListSchoolCategories.php
  app/Filament/Resources/SchoolItemResource.php
  app/Filament/Resources/SchoolItemResource/Pages/CreateSchoolItem.php
  app/Filament/Resources/SchoolItemResource/Pages/EditSchoolItem.php
  app/Filament/Resources/SchoolItemResource/Pages/ListSchoolItems.php
  app/Filament/Resources/SchoolPackageResource.php
  app/Filament/Resources/SchoolPackageResource/Pages/CreateSchoolPackage.php
  app/Filament/Resources/SchoolPackageResource/Pages/EditSchoolPackage.php
  app/Filament/Resources/SchoolPackageResource/Pages/ListSchoolPackages.php
  app/Filament/Resources/SchoolPackageResource/Pages/ViewSchoolPackage.php
  app/Http/Controllers/Api/SchoolBoosterController.php
  app/Models/SchoolBusiness.php
  app/Models/SchoolCategory.php
  app/Models/SchoolItem.php
  app/Models/SchoolPackage.php
  app/Models/SchoolTierItem.php
  database/migrations/2026_05_19_140457_create_school_booster_tables.php
  resources/js/components/ApplicationWizard/ApplicationWizard.tsx
  resources/js/components/ApplicationWizard/forms/SchoolBoosterForm.tsx
  resources/js/components/ApplicationWizard/steps/ApplicationSummary.tsx
  resources/js/components/ApplicationWizard/steps/FormStep.tsx
  resources/js/components/ApplicationWizard/steps/IntentSelection.tsx
  resources/js/components/ApplicationWizard/steps/SchoolTypeSelection.tsx
  resources/js/services/productService.ts
  routes/api.php
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests, migration-check, laravel-route-cache

Build succeeded cleanly. Here's a full breakdown of what was happening and what was fixed:
  .claude/settings.local.json
  resources/js/components/ApplicationWizard/ApplicationWizard.tsx
Due: eslint, typescript-check, prettier, frontend-tests

Fix application progress loss on re-entry and harden Docker build
  Dockerfile
  docker/php.ini
Due: none

Fix product images 404 and price not carrying to credit term
  app/Http/Controllers/Api/ProductController.php
  fly.toml
  resources/js/components/ApplicationWizard/steps/ProductSelection.tsx
Due: php-cs-fixer, phpstan, php-unit-tests, eslint, typescript-check, prettier, frontend-tests

Fix $0.00 price bug and agent dashboard product image sharing
  resources/js/components/ApplicationWizard/steps/ProductSelection.tsx
  resources/js/pages/agent/Dashboard.tsx
Due: eslint, typescript-check, prettier, frontend-tests
